<!-- 
<cos-window [runningProcessID]="100">

    <div #doswindow></div> 

</cos-window> -->

<!-- <div #doswindow class="canvas" style="height:640px; width:480px;  left:50%; position: absolute;"></div>  -->


<!-- <div #doswindow class="canvas" style="height:640px; width:480px;  left:50%; position: relative; top:15px; left:0px"></div>  try this-->  


<cos-window [runningProcessID]="this.processId">

    <div #doswindow class="canvas" style="height:640px; width:480px; position: relative;" ></div> 

</cos-window> -->