
<cos-window [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.name">
    <div class="header-empty-line-container"></div>
    <div class="fileexp-header-container">
        <div class="header-nav-btn-container">
            <figure class="figure-alt">
                <img class="img-alt-left-right" [src]="'osdrive/icons/nav_left_32.png' | safeResourceUrl" />
            </figure>

            <figure class="figure-alt">
                <img class="img-alt-left-right" [src]="'osdrive/icons/nav_right_32.png' | safeResourceUrl" />
            </figure>

            <figure class="figure-alt">
                <img class="img-alt-caret" [src]="'osdrive/icons/nav_expand_32.png' | safeResourceUrl" />
            </figure>

            <figure class="figure-alt">
                <img class="img-alt-up" [src]="'osdrive/icons/nav_up-32.png' | safeResourceUrl" />
            </figure>
        </div>

        <div class="header-nav-path-container">
            <!-- <div class="nav-path-container">

            </div> -->
            <form [formGroup]="pathForm"  (ngSubmit)="isFormDirty()">
                <input class="path-input"  type="text" placeholder="{{this.directory}}" formControlName="pathInput"  (keypress)="onInputChange($event)" autofocus spellcheck="false" id="pathTxtBox-{{this.processId}}"/>
            </form>
        </div>


        <div class="header-nav-search-container">
            <form [formGroup]="searchForm"  (ngSubmit)="isFormDirty()">
                <input class="search-input" type="text" placeholder="Search OSDisk(C:)" formControlName="searchInput" (focus)="hideShowSearchHistory()"  (keypress)="onInputChange($event)" spellcheck="false" id="searchTxtBox-{{this.processId}}"/>
            </form>
            <div class="search-history-containter" id="searchHistory-{{this.processId}}">
                <div class="search-entry-containter" *ngFor="let entry of searchHistory; let i = index">
                    <span class="span head"><figure class="figure-alt"><img class="img-alt-search-list" [src]="'osdrive/icons/white_history_32.png' | safeResourceUrl"/></figure></span>
                    <span class="span mid1">{{entry}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-empty-line-container2"></div>
    <div class="fileexp-main-container"  #fileExplorerContainer>
        <div class="fileexp-content-container">
            <div class="navigation-content-container">
                <ul id="myUL">
                    <li><span class="caret">Beverages</span>
                      <ul class="nested">
                        <li>Water</li>
                        <li>Coffee</li>
                        <li><span class="caret">Tea</span>
                          <ul class="nested">
                            <li>Black Tea</li>
                            <li>White Tea</li>
                            <li><span class="caret">Green Tea</span>
                              <ul class="nested">
                                <li>Sencha</li>
                                <li>Gyokuro</li>
                                <li>Matcha</li>
                                <li>Pi Lo Chun</li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
            </div>
            <div class="file-content-container">
            <!-- ngResizable [rzHandles]="'w'" [rzMinWidth]="270" -->
            
                <ol (dragover)="onDragOver($event)"  (drop)="onDrop($event)" (click)="onHideIconContextMenu()"> 
                    <ng-container [ngTemplateOutlet]="viewOptions === smallIconsView ? iconsView :
                                                        viewOptions === mediumIconsView ? iconsView :
                                                        viewOptions === largeIconsView ? iconsView : 
                                                        viewOptions === listView ? listView0 :
                                                        viewOptions === detailsView ? detailsView0 :
                                                        viewOptions === contentView ? contentView0 : titleView ">
                    </ng-container>
    
                    <ng-template #iconsView>
                        <li *ngFor="let file of files; let i = index">
                            <button (dblclick)="runProcess(file)" (mouseenter)="onMouseEnter1(i)" (mouseleave)="onMouseLeave(i)"
                            ngDraggable  [inBounds]="true" zIndex="1" [preventDefaultEvent]="true"
                            (stopped)="onDragEnd($event)" (started)="onDragStart($event)"
                            (contextmenu)="onShowIconContextMenu($event, file, i)" (click)="onBtnClick(i)"
                            id="iconBtn-{{this.processId}}-{{i}}"  [style]="btnStyle">
                                <figure>
                                    <img [src]="file.getIconPath | safeResourceUrl" [alt]="file.getFileName"  [style]="iconSizeStyle"/>
                                    <figcaption  id="figCap-{{this.processId}}-{{i}}">
                                            {{file.getFileName}}
                                    </figcaption>
                                    <div class="rename-textbox"  id="renameContainer-{{this.processId}}-{{i}}">
                                        <form [formGroup]="renameForm"  (ngSubmit)="isFormDirty()">
                                            <input type="text" formControlName="renameInput"  (keypress)="onInputChange($event)" autofocus spellcheck="false" id="renameTxtBox-{{this.processId}}-{{i}}"/>
                                        </form>
                                    </div>
                                </figure>
                            </button>
                        </li>
                    </ng-template>
                    <ng-template #listView0>
                        <p>List View</p>
                    </ng-template>
                    <ng-template #detailsView0>
                        <p>Detail View</p>
                    </ng-template>
                    <ng-template #contentView0>
                        <p>Content View</p>
                    </ng-template>
                    <ng-template #titleView>
                        <p>Title View</p>
                    </ng-template>
    
    
                
                    <div class="tool-tip-container" id="invalidChars">
                        <div class="tool-tip-arrow"> </div>
                        <div class="tool-tip-base"> A file name can't contain any of the following characters: <br /><br />
                             \ / : * ? " < > |
                        </div>
                    </div>
                
                
                    <div class="fx-icon-vertical-menu" [style]="fxIconCntxtMenuStyle">
                        <div class="empty-line-container"></div>
                
                        <div class="fx-icon-vertical-menu-item" (click)="onTriggerRunProcess()">
                            <span class="span head"> <figure class="figure-cntxt-menu"> </figure></span>
                            <span class="span mid" style="font-weight: bold;">Open</span>
                            <span class="span tail"> <figure class="figure-cntxt-menu"> </figure> </span>
                        </div>
                
                        <div class="fx-icon-vertical-menu-item">
                            <span class="span head"> <figure class="figure-cntxt-menu"> </figure></span>
                            <span class="span mid">Pin to Start</span>
                            <span class="span tail"> <figure class="figure-cntxt-menu"> </figure> </span>
                        </div>
                
                        <div class="fx-icon-vertical-menu-item" >
                            <span class="span head"> <figure  class="figure-cntxt-menu"> </figure></span>
                            <span class="span mid">Pin to taskbar</span>
                            <span class="span tail"> <figure class="figure-cntxt-menu"> </figure> </span>
                        </div>
                
                        <div class="empty-line-container"></div>
                        <div class="line-container"><div class="line"></div></div>
                        <div class="empty-line-container"></div>
                
                        <div class="fx-icon-vertical-menu-item"(click)="onDeleteFile()">
                            <span class="span head"> <figure class="figure-cntxt-menu" > </figure></span>
                            <span class="span mid">Delete</span>
                            <span class="span tail"> <figure class="figure-cntxt-menu"> </figure> </span>
                        </div>
                
                        <div class="fx-icon-vertical-menu-item" (click)="onTriggerRenameFileStep1()">
                            <span class="span head"> <figure class="figure-cntxt-menu" > </figure></span>
                            <span class="span mid">Rename</span>
                            <span class="span tail"> <figure class="figure-cntxt-menu"> </figure> </span>
                        </div>
                
                        <div class="empty-line-container"></div>
                    </div>
                </ol>
            </div>
            <div class="previewOrdetails-content-container">
            <!-- ngResizable [rzHandles]="'w'" [rzMinWidth]="200" -->
                <p>hide/show</p>
            </div>

        </div>
    </div>
    <div class="fileexp-footer-container" >
        <span class="span-footer"> </span>
        <span class="span-footer">{{files.length}} items</span>
        <span class="span-footer">|</span>
        <span class="span-footer">{{files.length}} items selected</span>
        <span class="span-footer">|</span>
    </div>
</cos-window>
