.fileexp-main-container{
    width: 100%;
    height: 100%;
}

.fileexp-content-container{
    width: 100%;
    display: flex;
}

.fileexp-footer-container{
    width: 100%;
    display: inline-flex;
    background-color: #3f3e3e;
}

.span-footer{
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    margin: 3px 4px;
}
/*****************************Header navigation view Started*****************************/

.fileexp-header-container{
    width: 100%;
    display: flex;
    background-color: #080808;
}

.header-empty-line-container {
    height: 5px;
    /* background-color: #080808; */
}
.header-empty-line-container2 {
    height: 8px;
    /* background-color: #080808; */
}


.header-nav-btn-container{
    left: 0;
    width: 120px;
    display: flex;
}

.img-alt-left-right{
    height: 20px;
    width: 20px;
    top:5px;
    image-rendering:optimizeQuality;
    position: relative;
}

.img-alt-caret{
    height: 12px;
    width: 12px;
    image-rendering:optimizeQuality;
    position: relative;
    top: 8px
}

.img-alt-up{
    height: 20px;
    width: 20px;
    top:6px;
    image-rendering:optimizeQuality;
    position: relative;
}
.figure-alt{
    position: relative;
    align-items: center;
    min-width: 8px;
    margin: 0 10px;
    /* top: -25%;
    left: 35%; */
}

.header-nav-path-container{
    width:100%;
}
.path-input{
    position: relative;
    min-width: 350px;
    width: 100%;
    height: 30px;
    border: 0.5px solid #9d9d9d;
     /* background-color: #080808; */
     background-color: #ffff;
}

/*--------------------------Header navigation search box Started-----------------------------*/

.header-nav-search-container{
    width:fit-content;
    right: 0;
    margin: 0 10px;
}

.search-input{
    position: relative;
    min-width: 105px;
    max-width: 100%;
    height: 30px;
    border: 0.5px solid #9d9d9d;
    border-left: none;
    border-right: none;
    color: #ccc;
    background-color: #080808;
}

.search-container{
    display:flex;
    width: 100%;
}

.figure-search-cntnr{
    position: relative;
    min-width: 26px;
}

.img-search-cntnr{
    height: 16px;
    width: 16px;
    margin: 0 5px;
    image-rendering:optimizeQuality;
    position: relative;
}

span.head-search-cntnr{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid #9d9d9d;
    border-right: none;
}

span.head-search-cntnr1{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid #9d9d9d;
    border-left: none;
    border-right: none;
}

span.head-search-cntnr2{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid #9d9d9d;
    border-left: none;
}

span.head-search-cntnr2.active{
    align-items: center;
    display:inline-flex;
    border: 0.5px solid #9d9d9d;
    background-color: blue;
}


.search-history-containter{
    position: absolute;
    width: inherit;
    border: 1px solid #9d9d9d;
    margin-right: 10px;
    max-height: 150px;
    overflow-y: scroll;
    background-color: #080808;
    display: none;
}

.search-entry-containter{
    display: inline-flex;
    width: 100%;
    margin: 8px 8px 8px 0;
    overflow-y: scroll;
}

.img-alt-search-list{
    height: 20px;
    width: 20px;
    top:0px;
    image-rendering:optimizeQuality;
    position: relative;
}

span.mid1{
    min-width: 50%;
    padding: 0 2px;
    color: #fff; /* white text color */
    text-align: left;
    font-size: 10px;
    font-weight: normal;
    white-space: nowrap; 
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    text-overflow: ellipsis; 
}


/*----------------------------Header navigation search box End------------------------*/

/*****************************Header navigation view Ended*****************************/

/*****************************navigation view Started*****************************/

.navigation-content-container{
    min-width: 150px;
     /* background-color: #080808; */
     /* background-color: #ffff; */
}


/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer; 
  user-select: none; /* Prevent text selection */
  color: #fff;
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: #ccc;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg); 
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

/*****************************navigation view Started*****************************/

.file-content-container{
    border-left: 0.5px solid #5a5a5a;
    min-width: 100px;
    width: 100%; /* Set a maximum width for the responsive container */
    overflow: scroll;
    min-height: 350px;
}

.previewOrdetails-content-container{
    min-width: 200px;
    border-left: 0.5px solid #5a5a5a;
    /* display: none; */
}

ol{
    /* column-gap: 1px; */
    display: grid;
    grid-auto-flow: row;
    grid-template-columns:  repeat(auto-fill,90px);
    grid-template-rows: repeat(auto-fill,70px);
    height: calc(100% - 40px);
    width: 100%;
    padding: 5px 0 ;
    row-gap: 20px;
}


li{
    display: flex;
    justify-content: center;
    padding: 2px;
    height: min-content;
    z-index: 1;
}


figure{
    display: flex;
    flex-direction: column;
    margin-bottom: -2px;
    place-items:center;
}


figcaption{
    -webkit-box-orient: vertical;
    color: #fff;
    display: -webkit-box;
    font-size: 12px;
    letter-spacing: 0.1px;
    -webkit-line-clamp:2;
    position: relative;
    padding: 2px 0;
    text-shadow:0 0 1px rgba(0, 0, 0, 75%),
                0 0 2px rgba(0, 0, 0, 50%),
                0 0 3px rgba(0, 0, 0, 25%),

                0 1px 1px rgba(0, 0, 0, 75%),
                0 1px 2px rgba(0, 0, 0, 50%),
                0 1px 3px rgba(0, 0, 0, 25%),
                
                0 2px 1px rgba(0, 0, 0, 75%),
                0 2px 2px rgba(0, 0, 0, 50%),
                0 2px 3px rgba(0, 0, 0, 25%);

    top: -1px;
    line-height: 15px;
    overflow: hidden;
    word-break: break-all;
}

img{
    height: 45px; 
    width: 45px;
}

button{
    background-color: transparent;
    width: 90px;
    height: 70px; 
}


.fx-icon-vertical-menu {
    position: absolute;
    width: 205px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #9c9898;
    z-index: 2;
}

.fx-icon-vertical-menu-item {
    height: fit-content;
    padding: 2px 0;
    background-color: #eee;
    display: inline-flex;
    width: 100%;
    z-index: 2;
   /*  transition: background-color 0.3s ease; Add a transition for background-color */
}

.fx-icon-vertical-menu .fx-icon-vertical-menu-item:hover {
    background-color: #ccc;
}

.line-container {
    max-height: 1px;
    background-color: #eee;
}

.line {
    border: 1px solid #9c9898;
    margin: 0 8px;
}

.empty-line-container {
    max-height: 3px;
    min-height: 3px;
    background-color: #eee;
}

span{
    display: block;
}

span.head{
    max-width: 25%;
    padding-left: 4px;
}

span.mid{
    min-width: 50%;
    padding: 0 4px;
    color: black; /* Black text color */
    text-align: left;
    font-size: 11px;
    font-weight: normal;
}

span.tail{
    max-width: 25%;
    padding-left: 78px;
}

.figure-cntxt-menu{
    align-items: center;
    display:inline-flex;
    min-width: 18px;
}

.rename-textbox{
    position: relative;
    display: none;
    top: 2px;
    margin-bottom: 2px;
    max-width: 75px;
    max-height: 16px;
    border: 1px solid #ccc;
    overflow:hidden;
    z-index: 2;
 }

 input {
    text-align:calc(75px / 2 px);
    font-size: 11.5px;
    /* text-overflow:ellipsis; */
    padding-left: 4px;
}

input::selection{
    background-color: #0056b3;
    color: #fff;
}

.tool-tip-container{
    position: absolute;
    width: fit-content;
    border-bottom: 1px solid black;
    box-shadow:0px 1px 0px rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: -1;
    opacity: 0;
    transform: translate(-100000px,100000px); 
}

.tool-tip-base{
    width: fit-content;
    height: 40px;
    line-height: 5px;
    padding: 10px;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: black;
    background: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    /* text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px; */
}

.tool-tip-arrow {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #FFFFFF transparent transparent transparent; 
    left: 20px;
    transform: rotate(180deg);
}
