
<cos-window [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.name">
    <div class="fileexp-header-tab-container">
        <div class="fileexp-header-tabs">
          <div class="tab highlight-default">File</div>
          <div class="tab">Home</div>
          <div class="tab active">View</div>
        </div>
        <div class="fileexp-header-tab-content-container">
          <div class="tab-pane">
            <!-- Content for Tab 1 -->
          </div>
          <div class="tab-pane">
            <!-- Content for Tab 2 -->
          </div>
          <div class="tab-pane active">
            <div class="view-tab-pane-container">
                <div class="tab-empty-line-container "></div>
                <div class="view-tab-pane-top-cntnr">
                    <div class="view-tab-pane-top1">
                        <figure class="figure-tab-view-pane">
                            <img class="img-tab-view-pane" [src]="'osdrive/icons/navigation_pane.ico' | safeResourceUrl"/>
                        </figure>
                        <span class="span-tab-view-pane">
                            Navigation
                        </span>
                        <span class="span-tab-view-pane1">
                             pane
                        </span>
                    </div>
                    <div class="view-tab-pane-top2">
                        <div class="tab-pane-top2-1">
                            <span class="span-tab-pane-cntnr">
                                <figure class="figure-tab-view-pane1">
                                    <img class="img-tab-view-pane1" [src]="'osdrive/icons/preview_pane.ico' | safeResourceUrl"/>
                                </figure>
                                <span class="span-tab-view-pane2">Preview pane</span>
                            </span>
                        </div>
                        <div class="tab-empty-space"></div>
                        <div class="tab-pane-top2-2">
                            <span class="span-tab-pane-cntnr">
                                <figure class="figure-tab-view-pane1">
                                    <img class="img-tab-view-pane1" [src]="'osdrive/icons/details_pane.ico' | safeResourceUrl"/>
                                </figure>
                                <span class="span-tab-view-pane2">Details pane</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="view-tab-pane-bottom">
                    Panes
                </div>
            </div>
          </div>
        </div>
    </div>  
    <div class="header-empty-line-container"></div>
    <div class="fileexp-header-container">
        <div class="header-nav-btn-container">
            <figure class="figure-alt">  
                <div class="img-alt-left-right">
                    <svg xmlns="http://www.w3.org/2000/svg" (click)="goBackAlevel()" (mouseenter)="colorPrevNavBtn()" (mouseleave)="uncolorPrevNavBtn()" [style]="prevNavBtnStyle"
                        height="16" width="16" 
                        viewBox="0 0 512 512">
                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                    </svg>
                </div>
            </figure>

            <figure class="figure-alt">
                <div class="img-alt-left-right">
                    <svg xmlns="http://www.w3.org/2000/svg" (click)="goForwardAlevel()" (mouseenter)="colorNextNavBtn()" (mouseleave)="uncolorNextNavBtn()"  [style]="nextNavBtnStyle"
                        height="16" width="16" 
                        viewBox="0 0 512 512">
                        <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                    </svg>
                </div>
            </figure>

            <figure class="figure-alt-chevron">
                <div class="img-alt-chevron">
                    <svg xmlns="http://www.w3.org/2000/svg" (mouseenter)="colorChevron()" (mouseleave)="unColorChevron()"  [style]="recentNavBtnStyle"
                        height="9" width="9" 
                        viewBox="0 200 512 512">
                        <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
                    </svg>
                </div>
            </figure>

            <figure class="figure-alt-up" (click)="goUpAlevel()" (mouseenter)="colorUpNavBtn()" (mouseleave)="uncolorUpNavBtn()" [style]="upNavBtnCntnrStyle">
                <div class="img-alt-up">
                    <svg xmlns="http://www.w3.org/2000/svg" [style]="upNavBtnStyle"
                        height="16" width="16" 
                        viewBox="0 0 512 512">
                        <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/>
                    </svg>
                </div>
            </figure>
        </div>

        <div class="header-nav-path-container" id="hdrNavPathCntnr-{{this.processId}}">
            <form [formGroup]="pathForm"  (ngSubmit)="isFormDirty()">
                <div class="nav-path-container" (click)="showPathTextBox()" (focusout)="hidePathTextBox()">
                    <span class="span head-nav-path-cntnr"><figure class="figure-nav-path-cntnr"><img class="img-nav-path-cntnr" [src]="navPathIcon | safeResourceUrl"/></figure></span>
                    <div class="nav-path-gen-main-container" id="pathIconBox-{{this.processId}}" >
                        <span class="span head-nav-path-gen-cntnr0"><figure class="figure-nav-path-gen-cntnr"><img class="img-nav-path-gen-cntnr" [src]="'osdrive/icons/grey_nav_forward_32.png' | safeResourceUrl"/></figure> </span>
                        <div class="nav-path-gen-container" *ngFor="let dirHops of _directoryHops let j = index">
                            <span *ngIf="j > 0" class="span head-nav-path-gen-cntnr"><figure class="figure-nav-path-gen-cntnr"><img class="img-nav-path-gen-cntnr" [src]="'osdrive/icons/grey_nav_forward_32.png' | safeResourceUrl"/></figure> </span>
                            <span class="span mid-nav-path-gen-cntnr">{{dirHops}}</span>
                        </div>
                    </div>
                    <input class="path-input" type="text" placeholder="{{this.directory}}" formControlName="pathInput"  autofocus spellcheck="false" id="pathTxtBox-{{this.processId}}"/>
                    <span class="span head-nav-path-cntnr1" [class.active]="showPathHistory" (click)="hideshowPathHistory()"><figure class="figure-nav-path-cntnr1"><img class="img-nav-path-cntnr1" [src]="'osdrive/icons/grey_nav_expand_32.png' | safeResourceUrl"/></figure></span>
                    <span class="span head-nav-path-cntnr2" (click)="refreshIcons()"><figure class="figure-nav-path-cntnr2"><img class="img-nav-path-cntnr2" [src]="'osdrive/icons/grey_nav_refresh_32.png' | safeResourceUrl"/></figure></span>
                </div>
            </form>

            <div class="nav-path-containter1" id="pathHistory-{{this.processId}}">
                <div class="nav-path-entry-containter" *ngFor="let entry1 of pathHistory; let k = index">
                    <span class="span"><figure class="figure-nav-path-entry"><img class="img-nav-path-entry" [src]="'osdrive/icons/white_history_32.png' | safeResourceUrl"/></figure></span>
                    <span class="span mid-nav-path-entry">{{entry1}}</span>
                </div>
            </div>
        </div>


        <div class="header-nav-search-container">
            <form [formGroup]="searchForm"  (ngSubmit)="isFormDirty()">
                <div class="search-container">
                    <span class="span head-search-cntnr"><figure class="figure-search-cntnr"><img class="img-search-cntnr" [src]="'osdrive/icons/search_32.png' | safeResourceUrl"/></figure></span>
                    <input class="search-input" type="text" placeholder="Search OSDisk(C:)" formControlName="searchInput" (focus)="showSearchHistory()"  (focusout)="hideSearchHistory()" (input)="onInputChange()"  spellcheck="false" id="searchTxtBox-{{this.processId}}"/>
                    <span class="span head-search-cntnr1" (click)="onClearSearchTextBox()" [style]="clearSearchStyle" (mouseenter)="handleClearSearchIconHighlights()" (mouseleave)="handleClearSearchIconHighlights()"><figure class="figure-search-cntnr"><img *ngIf="isSearchBoxNotEmpty" class="img-search-cntnr" [src]="'osdrive/icons/cross_mark_32.png' | safeResourceUrl"/></figure></span>
                    <span class="span head-search-cntnr2" [class.active]="isSearchBoxNotEmpty" (click)="onSearch()" [style]="searchStyle" (mouseenter)="handleSearchIconHighlights()" (mouseleave)="handleSearchIconHighlights()"><figure class="figure-search-cntnr"><img *ngIf="isSearchBoxNotEmpty" class="img-search-cntnr" [src]="'osdrive/icons/nav_right_32.png' | safeResourceUrl"/></figure></span>
                </div>
            </form>

            <div class="search-history-containter" id="searchHistory-{{this.processId}}">
                <div class="search-entry-containter" *ngFor="let entry of searchHistory; let i = index">
                    <span class="span"><figure class="figure-search-entry"><img class="img-search-entry" [src]="'osdrive/icons/white_history_32.png' | safeResourceUrl"/></figure></span>
                    <span class="span mid-search-entry">{{entry}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-empty-line-container2"></div>
    <div class="fileexp-main-container">
        <div class="fileexp-content-container">
            <div class="navigation-content-container"  #navExplorerContainer>
            <!--down-chevron<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
            right-chevron<svg xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg> -->
                <ul id="myUL">
                    <li><span class="caret">Beverages</span>
                      <ul class="nested">
                        <li>Water</li>
                        <li>Coffee</li>
                        <li><span class="caret">Tea</span>
                          <ul class="nested">
                            <li>Black Tea</li>
                            <li>White Tea</li>
                            <li><span class="caret">Green Tea</span>
                              <ul class="nested">
                                <li>Sencha</li>
                                <li>Gyokuro</li>
                                <li>Matcha</li>
                                <li>Pi Lo Chun</li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
            </div>
            <div class="file-content-container" #fileExplorerContainer>
            <!-- ngResizable [rzHandles]="'w'" [rzMinWidth]="270" -->

            <!-- ngDraggable  [inBounds]="true" zIndex="1" [preventDefaultEvent]="true"
                (stopped)="onDragEnd($event)" (started)="onDragStart($event)" -->
            
                <ol (dragover)="onDragOver($event)"  (drop)="onDrop($event)" (click)="onHideIconContextMenu()"> 
                    <ng-container [ngTemplateOutlet]="viewOptions === smallIconsView ? iconsView :
                                                        viewOptions === mediumIconsView ? iconsView :
                                                        viewOptions === largeIconsView ? iconsView : 
                                                        viewOptions === listView ? listView0 :
                                                        viewOptions === detailsView ? detailsView0 :
                                                        viewOptions === contentView ? contentView0 : titleView ">
                    </ng-container>
    
                    <ng-template #iconsView>
                        <li *ngFor="let file of files; let i = index">
                            <button tabindex="0" (dblclick)="runProcess(file)" (mouseenter)="onMouseEnter(i)" (mouseleave)="onMouseLeave(i)"
                            (contextmenu)="onShowIconContextMenu($event, file, i)" (focus)="onBtnFocus(i)" (focusout)="onBtnFocusOut(i)" 
                            id="iconBtn-{{this.processId}}-{{i}}"  [style]="btnStyle">
                                <figure>
                                    <img [src]="file.getIconPath | safeResourceUrl" [alt]="file.getFileName"  [style]="iconSizeStyle"/>
                                    <figcaption  id="figCap-{{this.processId}}-{{i}}">
                                            {{file.getFileName}}
                                    </figcaption>
                                    <div class="rename-textbox"  id="renameContainer-{{this.processId}}-{{i}}">
                                        <form [formGroup]="renameForm"  (ngSubmit)="isFormDirty()">
                                            <input type="text" formControlName="renameInput"  (keypress)="onKeyPress($event)" autofocus spellcheck="false" id="renameTxtBox-{{this.processId}}-{{i}}"/>
                                        </form>
                                    </div>
                                </figure>
                            </button>
                        </li>
                    </ng-template>
                    <ng-template #listView0>
                        <p>List View</p>
                    </ng-template>
                    <ng-template #detailsView0>
                        <p>Detail View</p>
                    </ng-template>
                    <ng-template #contentView0>
                        <p>Content View</p>
                    </ng-template>
                    <ng-template #titleView>
                        <p>Title View</p>
                    </ng-template>
                
                    <div class="tool-tip-container" id="invalidChars-{{this.processId}}">
                        <div class="tool-tip-arrow"> </div>
                        <div class="tool-tip-base"> A file name can't contain any of the following characters: <br /><br />
                             \ / : * ? " < > |
                        </div>
                    </div>
                
                
                    <div class="fx-icon-vertical-menu" [style]="fxIconCntxtMenuStyle">
                        <div class="empty-line-container"></div>
                
                        <div class="fx-icon-vertical-menu-item" (click)="onTriggerRunProcess()">
                            <span class="span head"> <figure class="figure-cntxt-menu"> </figure></span>
                            <span class="span mid" style="font-weight: bold;">Open</span>
                            <span class="span tail"> <figure class="figure-cntxt-menu"> </figure> </span>
                        </div>
                
                        <div class="fx-icon-vertical-menu-item">
                            <span class="span head"> <figure class="figure-cntxt-menu"> </figure></span>
                            <span class="span mid">Pin to Start</span>
                            <span class="span tail"> <figure class="figure-cntxt-menu"> </figure> </span>
                        </div>
                
                        <div class="fx-icon-vertical-menu-item" >
                            <span class="span head"> <figure  class="figure-cntxt-menu"> </figure></span>
                            <span class="span mid">Pin to taskbar</span>
                            <span class="span tail"> <figure class="figure-cntxt-menu"> </figure> </span>
                        </div>
                
                        <div class="empty-line-container"></div>
                        <div class="line-container"><div class="line"></div></div>
                        <div class="empty-line-container"></div>
                
                        <div class="fx-icon-vertical-menu-item"(click)="onDeleteFile()">
                            <span class="span head"> <figure class="figure-cntxt-menu" > </figure></span>
                            <span class="span mid">Delete</span>
                            <span class="span tail"> <figure class="figure-cntxt-menu"> </figure> </span>
                        </div>
                
                        <div class="fx-icon-vertical-menu-item" (click)="onTriggerRenameFileStep1()">
                            <span class="span head"> <figure class="figure-cntxt-menu" > </figure></span>
                            <span class="span mid">Rename</span>
                            <span class="span tail"> <figure class="figure-cntxt-menu"> </figure> </span>
                        </div>
                
                        <div class="empty-line-container"></div>
                    </div>
                </ol>
            </div>
            <div class="previewOrdetails-content-container">
            <!-- ngResizable [rzHandles]="'w'" [rzMinWidth]="200" -->
                <p>hide/show</p>
            </div>
        </div>
    </div>
    <div class="fileexp-footer-container" >
        <span class="span-footer"> </span>
        <span class="span-footer">{{files.length}} items</span>
        <span class="span-footer">|</span>
        <span class="span-footer">{{files.length - files.length}} items selected</span>
        <span class="span-footer">|</span>
    </div>
</cos-window>
