.start-btn{
    display: flex;
    place-content: center;
    place-items: center;
    position: absolute;
    height: 100%;
    width: 60px;
    left: 0;
    background-color: red;
    /* bottom: 0; */
}