.date-and-time-cntnr {
	display: flex;
	height: 100%;
	width: 80px;
	place-content: center;
	place-items: center;
	position: absolute;
	right: 0;
}

.time-cntnr {
	font-size: 11px;
	font-weight: 300;
	top: 5px;
	position: absolute;
	color: rgba(255, 255, 255, 0.8);
}

.date-cntnr {
	font-size: 11px;
	font-weight: 300;
	top: 22px;
	position: absolute;
	color: rgba(255, 255, 255, 0.8);
}
