li{
    display: flex;
    height: 100%;
}

figure{
    align-items: center;
    display: flex;
    padding: 4px;
}

figcaption{
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    margin-left: 4px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

img{
    height: 25px;
    width: 25px;
    image-rendering: pixelated;
}