li{
    display: flex;
    height: 100%;
}

figure{
    align-items: center;
    display: flex;
}

figcaption{
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
}

img{
    height: 16px;
    margin: 0 5px;
    width: 16px;
}