<cos-window [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.name" (click)="setVideoWindowToFocus(this.processId)">
    <div class="my-video-main-container" #mainVideoCntnr>
        <!-- <div class="video-top-menu-bar">
            <button class=" btn btn-primary head" (click)="showMenu()"> File</button>
                <span class="video-top-menu" *ngIf="showTopMenu">
                    <span (click)="openFileExplorer()">Open</span>
                    <span (click)="playPrevious()">Recent ></span>
                </span>
        </div> -->
        <div class="my-video-container" #videoCntnr>
            <video #videowindow class="video-js" controls muted playsinline preload="none" width="640" height="360"> </video>
        </div>
    </div>
</cos-window>