<ng-container [ngTemplateOutlet]="notificationOption === errorNotification ? errorNotice :  infoNotice ">
</ng-container>

<ng-template #errorNotice>
    <div ngDraggable [handle]="leftHS1" class="error-dialog-main-container">
        <div class="error-dialog-header-container" tabindex="0">
            <div #leftHS1 class="error-dialog-left-header-section">
                <h1 class="error-dialog-h1">
                    <figure class="error-dialog-figure">
                        <!-- <img class="error-dialog-img" [src]="this.icon" [alt]="this.name"/> -->
                        <figcaption class="error-dialog-figcaption"> {{this.displayMgs}} </figcaption>
                    </figure>
                </h1>
            </div>
            <div class="error-dialog-right-header-section">
                <nav class="error-dialog-nav">
                    <button class="error-dialog-button" id="closeBtn" appHighlight (click)="onCloseDialogBox()"  title="Close" >
                        <svg class="error-dialog-svg" width="10" viewBox="0 0 10 10">
                            <path d="M10.2.7L9.5 0 5.1 4.4.7 0 0 .7l4.4 4.4L0 9.5l.7.7 4.4-4.4 4.4 4.4.7-.7-4.4-4.4z" fill = "#FFFFF"/>
                        </svg>
                    </button>
                </nav>
            </div>
        </div>
    
        <div class="error-dialog-mid-container">
            <div class="error-dialog-mid-section1">
                <div class="error-dialog-mid-img1">
                    <figure class="error-dialog-figure1">
                        <img class="error-dialog-img1" [src]="'/osdrive/icons/red-x_50.png'"/>
                    </figure>
                </div>
                <div class="error-dialog-mid-txt1">
                    <span class="error-dialog-mid-section1-msg">{{this.displayMgs}}</span>
                </div>
            </div>
            <div class="error-dialog-mid-section2">
                <span class="error-dialog-mid-section2-msg">Application not found</span>
            </div>
        </div>
    
        <div class="error-dialog-tail-container">
            <span style="position: fixed; margin-top:10px; right:4%;">
                <button class="btn btn-primary" (click)="onCloseDialogBox()" >
                  OK
                </button>
            </span>
        </div>
    </div>
    
</ng-template>

<ng-template #infoNotice>
    <div ngDraggable [handle]="leftHS2" class="info-dialog-main-container">    
        <div #leftHS2 class="info-dialog-mid-container" tabindex="0">
            <div class="info-dialog-mid-section1">
                <div class="info-dialog-mid-img1">
                    <figure class="info-dialog-figure1">
                        <img class="info-dialog-img1" [src]="'/osdrive/icons/info_48.png'"/>
                    </figure>
                </div>
                <div class="info-dialog-mid-txt1">
                    <span class="info-dialog-mid-section1-msg">{{this.displayMgs}}</span>
                </div>
            </div>
        </div>
    
        <div class="info-dialog-tail-container">
            <span style="position: fixed; margin-top:10px; right:4%;">
                <button class="btn btn-primary" (click)="onCloseDialogBox()" >
                  OK
                </button>
            </span>
        </div>
    </div>
</ng-template>

