/*Head Section*/

.error-dialog-main-container{
    font-size: 1rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 50%);
    position: absolute;
    width: 350px;
    height: 170px;
    top: 40%;
    left: 15%;
    transform: translate(-50%, -50%); /* Move the element back by 50% of its own width and height */
    outline: 1px hsl(0deg 0% 20%/70%);
    z-index: 2;
}

.error-dialog-header-container{
    width: 100%;
    position: relative;
    display: flex;
}

.error-dialog-left-header-section{
    width:calc(100% - 45px);
    height: 30px;
    left: 0;
}
  
.error-dialog-right-header-section{
height: 30px;
right: 0;
}

.error-dialog-h1{
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 29px;
    border-bottom: 1px transparent blue;  
    width: fit-content;
    flex-grow: 1;
    display: flex;
    left: 0;
}
  
.error-dialog-img{
    height: 18px;
    width: 18px;
    margin: 0 6px 0 8px;
    image-rendering: optimizeQuality;
}
  
.error-dialog-figure{
    padding-left: 6px;
    display: flex;
    align-items: center;
    height: 30px;
}
  
.error-dialog-figcaption{
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  
.error-dialog-button{
    border-left: 1px transparent blue;
    box-sizing: content-box;
    color: #fff;
    display: flex;
    font-size: 20px;
    width: 45px;
    place-content: center;
    place-items: center;
}
  
  
.error-dialog-svg{
    fill: #ababab;
    margin-bottom: 2px;
    /* width: 10px; */
}
  
.error-dialog-nav{
    display: flex;
    position: absolute;
    width: fit-content;
    right: 0;
    height: 30px;
}

/*Mid Section*/

.error-dialog-mid-container{
    display: block;
    width: 100%;
    height: 95px;
}

.error-dialog-mid-section1{
    display: flex;
    height: 52.5px;
    width: 100%;
}

.error-dialog-mid-section2{
    height: 42.5px;
    width: 100%;
}

.error-dialog-mid-section2-msg{
    position: relative;
}

.error-dialog-mid-img1{
    width: fit-content;
    height: 52.5px;
}

.error-dialog-img1{
    position: relative;
    top: 10px;
    height: 38px;
    width: 38px;
    margin: 0 8px;
    image-rendering: optimizeQuality;
}
  
.error-dialog-figure1{
    display: flex;
    align-items: center;
    height: 38px;
}
  
.error-dialog-figcaption1{
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  
.error-dialog-mid-txt1{
    width: calc(100% - 54px);
}

.error-dialog-mid-section1-msg, .error-dialog-mid-section2-msg {
    position: relative;
    font-size: 13px;
    width: 100%;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error-dialog-mid-section1-msg{
    padding-left: 21px;
    left: -52px;
    top: 15px;
}

.error-dialog-mid-section2-msg{
    top: 0;
    left: -57px;
}

/*Tail Section*/
.error-dialog-tail-container{
    display: flex;
    background-color: #e5e5e5;
    width: 100%;
    height: 45px;
}

  /* Custom styles for .btn.btn-primary */
  .btn.btn-primary {
    background-color: #e5e5e5; /* Primary button background color */
    color: #000; /* Text color for the primary button */
    border: 2px solid #0265ce; /* Border color for the primary button */
    padding: 2px 20px; /* Padding for the primary button (adjust as needed) */
    font-size: 12px; /* Font size for the text */
    font-weight: normal;
    height: 24px;
    width: 65px;
  }