
.window-container{
  font-size: 1rem;
  text-align: center;
  background-color: #808080;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 50%);
  position: absolute;
  min-width: 25%;
  min-height: 10%;
  /*max-width: 100%;  Set the width of the parent container */
  /*max-height: 100%;  Set the height of the parent container */
  top: 40%;
  left: 15%;
  transform: translate(-50%, -50%); /* Move the element back by 50% of its own width and height */
  outline: 1px hsl(0deg 0% 20%/70%);
  overflow:hidden;
  z-index: 2;
}

.header-container{
  width: 100%;
  position: relative;
  display: flex;
}

.left-header-section{
  width:calc(100% - 135px);
  height: 30px;
  left: 0;
}

.right-header-section{
  height: 30px;
  right: 0;
}

.window-content-container{
  width: 100%;
  min-height: 10%;
  position: relative;
}


.window-dd-box {
  justify-content: center;
  align-items: center;
  background: rgb(18, 18, 18);
  /* border-radius: 4px; */
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.window-dd-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

h1{
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  height: 29px;
  border-bottom: 1px transparent blue;  
  width: fit-content;
  flex-grow: 1;
  display: flex;
  left: 0;
}

img{
  height: 18px;
  width: 18px;
  margin: 0 6px 0 8px;
  image-rendering: optimizeQuality;
}

figure{
  display: flex;
  align-items: center;
  height: 30px;
}

figcaption{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button{
  border-left: 1px transparent blue;
  box-sizing: content-box;
  color: #fff;
  display: flex;
  font-size: 20px;
  width: 45px;
  place-content: center;
  place-items: center;
}


svg{
  fill: #fff;
  margin-bottom: 2px;
  /* width: 10px; */
}

nav{
  display: flex;
  position: absolute;
  width: fit-content;
  right: 0;
  height: 30px;
}

/* change cursor style to normal*/
.ng-draggable {
  cursor: auto;
}

.ng-dragging {
  cursor: auto;
}

/* Hide draggable corner*/
.ng-resizable-diagonal{ 
  border-bottom: 12px solid transparent; 
}


  /* ::ng-deep .yogaba { 
    background-color: lightblue;
  } */