
<div [ngStyle]="currentStyles" #divWindow class="section window-dd-box"  ngDraggable ngResizable [rzHandles]="'e,s,w,se,sw'" [rzMinWidth]="defaultWidthOnOpen" [rzMinHeight]="defaultHeightOnOpen">
    <header (dblclick)="onTitleBarDoubleClick()">
        <h1>
            <figure>
                <img src="/favicon.ico" alt="test"/>
                <figcaption> test </figcaption>
            </figure>
        </h1>
        <nav>
            <button [appHighlight]="color" (click)="onMinimizeBtnClick()">
                <fa-icon [icon]="faWinMin"> </fa-icon>
            </button>
            <button  [appHighlight]="color" (click)="onMaximizeBtnClick()" >
                <fa-icon [icon]="faWinMax"> </fa-icon>
            </button>
            <button id="closeBtn" [appHighlight]="closeBtnColor" (click)="onCloseBtnClick()">
                <fa-icon [icon]="faWinClose"> </fa-icon>
            </button>
        </nav>
    </header>
    <ng-content > </ng-content> 
</div>