/* section{
    font-size: 100px;
    text-align: center;
    background-color: #808080;
    /* position: absolute; 
} */


section{
    font-size: 100px;
    text-align: center;
    background-color: #808080;
    /*I added these for testing*/
    position: relative;
    z-index:1;
    max-width: 50%;
}
