<div 
    [@openClose]="windowOpen ? 'open' : 'closed'"
    [@hideShow]="windowHide ? 'hidden' : 'visible'"
    [@minimizeMaximize]="windowMaximize ? 'maximized' : 'minimized'">
    <div [ngStyle]="currentStyles" #divWindow   tabindex="0" class="window-container  window-dd-box"
            ngDraggable [handle]="leftHS" (stopped)="onDragEnd($event)" (started)="onDragStart(this.processId)"
            (rzStop)="onRZStop($event)"  
            ngResizable [rzHandles]="'e,s,w,se,sw'" 
            [rzMinWidth]="defaultWidthOnOpen" [rzMinHeight]="defaultHeightOnOpen">
        <div class="header-container"
            appHighlight tabindex="0"
            [ngStyle]="headerActiveStyles"  (click)="setFocusOnWindow(this.processId)"
            (dblclick)="onTitleBarDoubleClick()">
            <div #leftHS class="left-header-section">
                <h1>
                    <figure>
                        <img [src]="this.icon" [alt]="this.name"/>
                        <figcaption> {{this.displayName}} </figcaption>
                    </figure>
                </h1>
            </div>
            <div class="right-header-section">
                <nav>
                    <button appHighlight id="hideBtn" (click)="onHideBtnClick(this.processId)" title="Hide">
                        <svg width="10" viewBox="0 0 10 1">
                        <path d="M0 0h10v1H0z" fill = "#FFFFF"/>
                        </svg>
                    </button>
                    <button *ngIf="!currentWindowSizeState, else elseBlock" id="maxBtn" appHighlight (click)="onMaximizeBtnClick()" title="Maximize">
                        <svg width="10" viewBox="0 0 10 10">
                            <path d="M0 0v10h10V0H0zm1 1h8v8H1V1z"  [ngStyle]="{'fill':isWindowMaximizable? '#FFFFF': '#989898CC'}" />
                        </svg>            
                    </button>
                    <ng-template #elseBlock>
                        <button  id="minBtn" appHighlight (click)="onUnMaximizeBtnClick()"  title="Minimize">
                            <svg width="15" viewBox="0 0 24 24">
                                <path fill="none" d="M0 0h24v24H0z"/>
                                <path d="M7 6V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7zM5.003 8L5 20h10V8H5.003zM9 6h8v10h2V4H9v2z" fill = "#FFFFF"/>
                            </svg>        
                        </button>
                    </ng-template>
                    <button [ngStyle]="closeBtnStyles" id="closeBtn" appHighlight (click)="onCloseBtnClick()"  title="Close" >
                        <svg width="10" viewBox="0 0 10 10">
                            <path d="M10.2.7L9.5 0 5.1 4.4.7 0 0 .7l4.4 4.4L0 9.5l.7.7 4.4-4.4 4.4 4.4.7-.7-4.4-4.4z" fill = "#FFFFF"/>
                        </svg>
                    </button>
                </nav>
            </div>
        </div>
        <div tabindex="0" class="window-content-container">
            <ng-content> </ng-content>
        </div>
    </div> 
</div>
