<cos-window [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.name" (click)="setAudioWindowToFocus(this.processId)">
  <div class="audio-container-main" #audioContainer>
    <!-- Top Info -->
    <div class="basic-info-container">
      <div class="timer">{{timer}}</div>
      <div class="track">{{track}}</div>
      <div class="duration">{{duration}}</div>
    </div>

    <!-- Controls -->
    <div class="controlsOuter">
      <div class="controlsInner">
        <div class="loading"  #loading></div>
        <div class="btn playBtn" (click) ="onPlayBtnClicked()" #playBtn></div>
        <div class="btn pauseBtn" (click) ="onPauseBtnClicked()" #pauseBtn></div>
        <div class="btn prevBtn" (click) ="onPrevBtnClicked()"  longPress (mouseLongPress)="onRewind()" #prevBtn></div>
        <div class="btn nextBtn" (click) ="onNextBtnClicked()"  longPress (mouseLongPress)="onFastForward()"  #nextBtn></div>
      </div>
      <div class="btn playlistBtn" #playlistBtn></div>
      <div class="btn volumeBtn" (click) ="onVolumeBtnClicked()" #volumeBtn></div>
    </div>

    <!-- Progress -->
    <div class="waveform" (click) ="onWaveFormClicked($event)"  #waveForm></div>
    <div class="pause-bar" #bar></div>
    <div class="progress" #progress></div>

      <!-- Playlist -->
    <div id="playlist">
      <div id="list"></div>
    </div>

    <!-- Volume -->
    <div  class="volume fadeout" (mousemove)="onVolumeMouseMove($event)"  (mouseup)="onVolumeMouseUp()"  #volumeSlider>
      <div class="volume-bar barFull"  #barFull></div>
      <div class="volume-bar barEmpty"  (click)="onBarEmptyClick($event)"  #barEmpty></div>
      <div class="sliderBtn" (mousedown)="onMousDownSliderBtn()"   #sliderBtn></div>
    </div>
  </div>
</cos-window>
