.taskbar-preview-main-container{
    background-color:  rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    border: 0.2px solid  rgba(0, 0, 0, 0.6);
    position: absolute;
    display: inline-flex;
    z-index: 2;
}

.taskbar-preview-ol{
    height: 100%;
    /* left: 60px; */
    position: absolute;
    /* right:80px; */
    display: flex;
    column-gap: 1px; /*reduce column gap to like 4 px*/
    margin: 0 1px;
    transition: all 0.075s;
}

.taskbar-preview-content{
    height: 100%;
}

.taskbar-preview-header-container{
    width:160px;
    height:25px;
    position: relative;
    display: flex;
}

.taskbar-preview-left-header-section{
    width:calc(100% - 30px);
    height: 25px;
    left: 0;
}
  
.taskbar-preview-right-header-section{
    height: 25px;
    right: 0;
}

.taskbar-preview-h1{
    color: #fff;
    font-size: 10.5px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 25px;
    border-bottom: 1px transparent;  
    width: fit-content;
    flex-grow: 1;
    display: flex;
    left: 0;
}

.taskbar-preview-figure{
    align-items: center;
    display: flex;
    min-width: 0px;
    padding: 4px;
}

.taskbar-preview-img{
    height:14px;
    width:14px;
    position: relative;
    top: 1px
}
  

.taskbar-preview-figcaption{
    padding-left: 3px;
    color: #fff;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  
.taskbar-preview-button{
    border-left: 1px transparent;
    box-sizing: content-box;
    color: #fff;
    display: flex;
    font-size: 15px;
    width: 30px;
    place-content: center;
    place-items: center;
}

.taskbar-preview-svg{
    fill: transparent;
    margin-bottom: 2px;
}

.taskbar-preview-content:hover {
    background-color: hsla(0,0%,25%,60%);
}

.taskbar-preview-content:hover .taskbar-preview-svg{
    fill: #ababab;
}

.taskbar-preview-nav{
    display: flex;
    position: absolute;
    width: fit-content;
    right: 0;
    height: 25px;
}

.taskbar-preview-image-container{
    width:160px;
    height:105px;
}

.taskbar-preview-figure1{
    margin: 1px 2px 6px 2px;
    display: flex;
    align-items: center;
    height: 98px;
    width: 154px;
    align-items: center;
    background-color: #ababab;
}

.taskbar-preview-img1-pri{
    height: 48px;
    width: 48px;
    position: relative;
    left: 35%;
    top: 1px
}
  
.taskbar-preview-img1-sec{
    height: 98px;
    width: 154px;
    position: relative;
    top: 1px
}
  