/**
 Figuring out the ng-start-inserted(auto added by angular) is the key to have only one tabpreview image capture, on the window component, where it should be
*/

/* .ng-star-inserted {
  position: absolute;
  top: 40%;
  left: 15%;

  z-index: 2;
  background-color: red;
  color: blue;
}
  */
 
 .terminal-container {
    width: 880px;
    height: 382px;
    background-color: #171717;
  }

  .terminal-output-section{
    width: 100%;
    height: 357px;
    overflow: auto;
    background-color: #171717;
    padding: 5px;
    font-size: 11.5px;
    line-height: 10px;
    white-space: pre-wrap;
    font-family: monospace;
    display: flex;
    flex-direction: column;
  }

  .terminal-input-section{
    position: fixed;
    width: 100%;
    height: 25px;
    background-color: #252424;
    bottom: 0;
  }
  
  .terminal-banner-container {
    display: flex;
    width: 100%;
  }

  .terminal-banner-content {
    height: fit-content;
    width: fit-content;
    color: #ccc;
    line-height: normal;
    font-weight: bold;
    font-family: monospace;
    font-size: 12px;
    margin-bottom:10px;
    margin-top:4px ;
    text-align: left;
    white-space: pre;
  }

  .terminal-welcome-message-container {
    display: flex;
    width: 100%;
  }

  .terminal-welcome-message-content {
    height: fit-content;
    width: fit-content;
    color: #ccc;
    line-height: normal;
    font-weight: normal;
    font-family: monospace;
    font-size: 11.5px;
    margin-bottom:10px;
    margin-top:4px ;
    text-align: left;
    white-space: pre;
  }

  .terminal-command-output-container-main{
    height: 100%;
    width: 100%;
  }

  .terminal-command-output-container{
    display: flex;
  }
  
  .terminal-command-output {
    padding: 8px 4px 8px 8px;
    width: 800px;
    color: #ccc;
    line-height: normal;
    font-weight: normal;
    font-family: monospace;
    font-size: 11.5px;
    /* margin-bottom:10px;
    margin-top:4px ; */
    text-align: left;
    white-space: pre;
  }
  
  .terminal-command-output dt {
    /* color: #eeeeee;
    text-shadow: 0 0 4px #eeeeee; */
  }
  
  .terminal-command-output dd {
    margin-inline-start: 20px;
  }
  
  .terminal-command-output dd:not(:last-child) {
    margin-block-end: 0.3em;
  }
  
  .terminal-command-output dd::before {
    content: "- ";
  }
  
  .terminal-command-output ul {
    margin-top: 0;
  }
  
  .terminal-command-record {
    scroll-margin: 15px;
  }

  .terminal-form{
    display:flex;
    width: 90%;
  }
  
  .terminal-input-area {
    bottom: 0;
    left: 4px;
    padding-top:4px;
    position: fixed;
    display: inline-flex;
    width: 100%;
    align-items: center;
  }
  
  .terminal-prompt {
    position: relative;
    color: #ccc;
    font-family: monospace;
    font-weight: bold;
    display: flex;
    top: -2px;
    left: 0.75%;
  }

  .prev-terminal-prompt {
    position: relative;
    color: #ccc;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 3px;
  }

  .prev-terminal-output {
    margin-top: 3px;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    color: #ccc;
    font-family: monospace;
    font-weight: bold;
    white-space: pre;
  }
  
  .terminal-heading::before {
    margin-right: 5px;
    content: '-- '
  }
  
  .terminal-input {
    position: relative;
    left: 1.5%;
    font-family: monospace;
    font-weight: normal;
    font-size: normal;
    color: #ccc;
    background: transparent;
    border: 0px;
    outline: none; /* no highlight on focus */
    width: 100%;
    margin-bottom: 4px;
  }

  .terminal-error-group {
    display: flex;
    flex-direction: column;
  }
  
  .terminal-error {
    color: red;
  }

  .terminal-warning {
    color: yellow;
  }

  .terminal-prior {
    color: green;
  }
  
  /* .terminal-glow {
    color: #eeeeee;
    text-shadow: 0 0 4px #eeeeee;
  } */
  
  /* a {
    color: #dea5f5;
  }
  a:hover {
    color: black;
    background-color: #c4a5f5;
    text-decoration: none;
  } */



    /* .terminal-content {
    padding: 20px;
    font-size: 15px;
    line-height: 20px;
    white-space: pre-wrap;
    color: #aaa;
    font-family: monospace;
    display: flex;
    flex-direction: column;
  } */
  

    /* @media only screen and (max-width: 400px) {
    .terminal-banner {
      font-size: 8px;
    }
  }
  
  @media only screen and (max-width: 300px) {
    .terminal-banner {
      font-size: 6px;
    }
  }
   */
