<ol> 
     <li class="li-inactive" taskBarEntryHighlight *ngFor="let pins of pinToTaskBarList;  let i = index" id="tskbar-{{pins.getOpensWith}}">
          <cos-taskbarentry  [taskBarPid]="appProcessId" [taskBarIconImgUrl]="pins.getIconPath"  [taskBarIconName]="pins.getOpensWith" > </cos-taskbarentry> 
     </li>

     <li taskBarEntryHighlight *ngFor="let rProcess of runningProcess">
          <cos-taskbarentry [taskBarPid]="rProcess.getProcessId" [taskBarIconImgUrl]="rProcess.getIcon"  [taskBarIconName]="rProcess.getProcessName" (restoreOrMinizeWindowEvent)="restoreOrMinizeWindow($event)"> </cos-taskbarentry> 
     </li>
</ol>