ol{
    height: 100%;
    left: 60px;
    position: absolute;
    right:80px;
    display: flex;
    /* width: 100%; */
}

li{
    /* display: flex; */
    height: 100%;
    max-width: 30px;
    border-bottom: 2px solid #76B9ED;
}
