ol{
    height: 100%;
    left: 60px;
    position: absolute;
    right:80px;
    display: flex;
    /* width: 100%; */
    column-gap: 4px;
    margin: 0 3px
}

li{
    /* display: flex; */
    height: 100%;
    min-width: 0px;
    border-bottom: 2px solid #76B9ED;
}
