<ol>
	<li
		class="li-inactive"
		taskBarEntryHighlight
		*ngFor="let pin of pinToTaskBarList; let i = index"
		id="tskbar-{{ pin.opensWith }}"
		(mouseenter)="onMouseEnter(pin.opensWith, pin.iconPath, pinned)"
		(mouseleave)="onMouseLeave()"
		(click)="onPinnedAppIconClick(pin)"
		(contextmenu)="onShowIconContextMenu($event, pin)"
	>
		<cos-taskbarentry [taskBarPid]="appProcessId" [taskBarIconImgUrl]="pin.iconPath" [taskBarIconName]="pin.opensWith"> </cos-taskbarentry>
	</li>

	<li
		taskBarEntryHighlight
		*ngFor="let rProcess of runningProcess"
		id="tskbar-UnPinned-{{ rProcess.getProcessName }}"
		(mouseenter)="onMouseEnter(rProcess.getProcessName, rProcess.getIcon, unPinned)"
		(mouseleave)="onMouseLeave()"
		(contextmenu)="onShowUnPinnedIconContextMenu($event, rProcess)"
	>
		<cos-taskbarentry
			[taskBarPid]="rProcess.getProcessId"
			[taskBarIconImgUrl]="rProcess.getIcon"
			[taskBarIconName]="rProcess.getProcessName"
			(restoreOrMinizeWindowEvent)="restoreOrMinizeWindow($event)"
		>
		</cos-taskbarentry>
	</li>
</ol>
