ol{
    height: 100%;
    left: 60px;
    position: absolute;
    right:80px;
    display: flex;
    column-gap: 6px;
    margin: 0 1px
}

li{
    height: 100%;
    min-width: 0px;
    border-bottom: 2px solid #76B9ED;
}
