<ol> 
     <li class="li-inactive" taskBarEntryHighlight *ngFor="let pin of pinToTaskBarList;  let i = index" id="tskbar-{{pin.getOpensWith}}" (mouseenter)="onMouseEnter(pin.getOpensWith, pinned)" (mouseleave)="onMouseLeave()" (click)="onPinnedAppIconClick(pin)" (contextmenu)="onShowIconContextMenu($event, pin)">
          <cos-taskbarentry  [taskBarPid]="appProcessId" [taskBarIconImgUrl]="pin.getIconPath"  [taskBarIconName]="pin.getOpensWith" > </cos-taskbarentry> 
     </li>

     <li taskBarEntryHighlight *ngFor="let rProcess of runningProcess" id="tskbar-UnPinned-{{rProcess.getProcessName}}" (mouseenter)="onMouseEnter(rProcess.getProcessName, unPinned)" (mouseleave)="onMouseLeave()" (contextmenu)="onShowUnPinnedIconContextMenu($event, rProcess)">
          <cos-taskbarentry [taskBarPid]="rProcess.getProcessId" [taskBarIconImgUrl]="rProcess.getIcon"  [taskBarIconName]="rProcess.getProcessName" (restoreOrMinizeWindowEvent)="restoreOrMinizeWindow($event)"> </cos-taskbarentry> 
     </li>
</ol>