<cos-window [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.name"  (click)="setImageViewerWindowToFocus(this.processId)">
    <div class="main-container" (click)="focusOnInput()" #photoContainer>
        <div  class="photo-viewer-container"> 
            <div tabindex="0" id="photoCntnr" class="photo-viewer"  (keydown)="onKeyDown($event)" (click)="onClick()">
                <img [src]="currentImg"/>
            </div>
        </div> 
        <div class="photo-slider">
            <div class="photo-storage" *ngFor="let img of imageList; let i = index"  (click)="onClick(i)">
                <div class="photo-slider-img">
                    <img [src]="img"/>
                </div>
            </div>
        </div>
    </div>
</cos-window>