 <main id="vanta" class="main-desktop" (contextmenu)="showDesktopContextMenu($event)" (click)="hideContextMenu()">   <!--(contextmenu)="showContextMenu($event)" (click)="hideContextMenu()" -->
    <div *ngIf="showDesktopCntxtMenu" class="vertical-menu" [style]="cntxtMenuStyle">
        <div class="empty-line-container"></div>
        <div class="vertical-sub-menu" >
            <div class="vertical-menu-item">
                <span class="span head"><figure ></figure></span>
                <span class="span mid">View</span>
                <span class="span tail"><figure> <img [src]="'osdrive/icons/arrow_next.png'"/></figure></span>
            </div>
     
            <div class="vertical-sub-menu-content">
                <div class="empty-line-container"></div>
                <div class="vertical-menu-item" (click)="viewBy(largeIcons)">
                    <span class="span head"><figure class="figure-alt"><img *ngIf="isLargeIcon" class="img-alt" [src]="'osdrive/icons/circle.png'"/></figure></span>
                    <span class="span mid">Large icons</span>
                    <span class="span tail"><figure></figure></span>
                </div>
                <div class="vertical-menu-item" (click)="viewBy(mediumIcons)">
                    <span class="span head"><figure class="figure-alt"><img *ngIf="isMediumIcon" class="img-alt" [src]="'osdrive/icons/circle.png'"/></figure></span>
                    <span class="span mid">Medium icons</span>
                    <span class="span tail"><figure></figure></span>
                </div>
                <div class="vertical-menu-item" (click)="viewBy(smallIcons)">
                    <span class="span head"><figure class="figure-alt"><img *ngIf="isSmallIcon" class="img-alt" [src]="'osdrive/icons/circle.png'"/></figure></span>
                    <span class="span mid">Small icon</span>
                    <span class="span tail"><figure> </figure></span>
                </div>

                <div class="empty-line-container"></div>
                <div class="line-container"><div class="line"></div></div>
                <div class="empty-line-container"></div>

                <div class="vertical-menu-item" (click)="autoArrangeIcon()">
                    <span class="span head"><figure class="figure-alt2"><img *ngIf="autoArrangeIcons" class="img-alt2" [src]="'osdrive/icons/chkmark32.png'"/></figure></span>
                    <span class="span mid">Auto arrange icons</span>
                    <span class="span tail"><figure></figure></span>
                </div>
                <div class="vertical-menu-item" (click)="autoAlignIcon()">
                    <span class="span head"><figure class="figure-alt2"><img *ngIf="autoAlignIcons" class="img-alt2" [src]="'osdrive/icons/chkmark32.png'"/></figure></span>
                    <span class="span mid">Align icons to grid</span>
                    <span class="span tail"><figure></figure></span>
                </div>

                <div class="empty-line-container"></div>
                <div class="line-container"><div class="line"></div></div>
                <div class="empty-line-container"></div>

                <div class="vertical-menu-item" (click)="showDesktopIcon()">
                    <span class="span head"><figure class="figure-alt2"><img *ngIf="showDesktopIcons" class="img-alt2" [src]="'osdrive/icons/chkmark32.png'"/></figure></span>
                    <span class="span mid">Show desktop icons</span>
                    <span class="span tail"><figure></figure></span>
                </div>

                <div class="empty-line-container"></div>
            </div>
        </div>

        <div class="vertical-sub-menu">
            <div class="vertical-menu-item">
                <span class="span head"><figure ></figure></span>
                <span class="span mid">Sort by </span>
                <span class="span tail"> <figure> <img [src]="'osdrive/icons/arrow_next.png'"/></figure></span>
            </div>
            <div class="vertical-sub-menu-content">
                <div class="vertical-menu-item" (click)="sortBy(sortByName)">
                    <span class="span head"><figure class="figure-alt"><img *ngIf="isSortByName" class="img-alt" [src]="'osdrive/icons/circle.png'"/></figure></span>
                    <span class="span mid">Name</span>
                    <span class="span tail"><figure></figure></span>
                </div>
                <div class="vertical-menu-item" (click)="sortBy(sortBySize)">
                    <span class="span head"><figure class="figure-alt"><img *ngIf="isSortBySize" class="img-alt" [src]="'osdrive/icons/circle.png'"/></figure></span>
                    <span class="span mid">Size</span>
                    <span class="span tail"><figure></figure></span>
                </div>
                <div class="vertical-menu-item" (click)="sortBy(sortByItemType)">
                    <span class="span head"><figure class="figure-alt"><img *ngIf="isSortByItemType" class="img-alt" [src]="'osdrive/icons/circle.png'"/></figure></span>
                    <span class="span mid">Item type</span>
                    <span class="span tail"><figure> </figure></span>
                </div>

                <div class="vertical-menu-item" (click)="sortBy(sortByDateModified)">
                    <span class="span head"><figure class="figure-alt"><img *ngIf="isSortByDateModified" class="img-alt" [src]="'osdrive/icons/circle.png'"/></figure></span>
                    <span class="span mid">Date modified</span>
                    <span class="span tail"><figure> </figure></span>
                </div>
            </div>
        </div>

        <div class="vertical-menu-item" (click)="refresh()">
            <span class="span head"> <figure > </figure></span>
            <span class="span mid">Refresh</span>
            <span class="span tail"> <figure> </figure> </span>
        </div>

        <div class="empty-line-container"></div>
        <div class="line-container"><div class="line"></div></div>
        <div class="empty-line-container"></div>

        <div class="vertical-menu-item" (click)="openApplication(terminalApp)">
            <span class="span head"> <figure class="figure-alt2"><img class="img-alt2" [src]="'/osdrive/icons/terminal_48.png'"/></figure></span>
            <span class="span mid">Open in Terminal</span>
            <span class="span tail"> <figure> </figure> </span>
        </div>

        <div class="vertical-menu-item" (click)="nextBackground()">
            <span class="span head"> <figure > </figure></span>
            <span class="span mid">Next Background</span>
            <span class="span tail"> <figure> </figure> </span>
        </div>

        <div class="vertical-menu-item" (click)="previousBackground()">
            <span class="span head"> <figure > </figure></span>
            <span class="span mid">Previous Background</span>
            <span class="span tail"> <figure> </figure> </span>
        </div>

        <div class="empty-line-container"></div>
        <div class="line-container"><div class="line"></div></div>
        <div class="empty-line-container"></div>

        <div class="vertical-menu-item">
            <span class="span head"> <figure > </figure></span>
            <span class="span mid">New</span>
            <span class="span tail"> <figure> </figure> </span>
        </div>

        <div class="empty-line-container"></div>
    </div>
    <cos-taskbarpreview  [name]="appToPreview" [icon]="appToPreviewIcon" *ngIf="showTskBarPreviewWindow"  [ngStyle]="tskBarPrevWindowStyle">  </cos-taskbarpreview>
    <cos-menu [menuItems]="taskBarMenuData" *ngIf="showTskBarCntxtMenu" [style]="tskBarCntxtMenuStyle" [menuType]="tskBarMenuOption"> </cos-menu>
    <ng-content> </ng-content>
</main>
