.main-desktop{
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; overflow no longer needed since position is now fixed */  
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: blue;
}
.vertical-menu {
    position: absolute;
    width: 250px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.vertical-menu-item {
    height: fit-content;
    padding: 4px 0;
    background-color: #eee;
    display: inline-flex;
    width: 100%;
    z-index: 2;
   /*  transition: background-color 0.3s ease; Add a transition for background-color */
}

.line-container {
    max-height: 1px;
    background-color: #eee;
}

.line {
    border: 1px solid #afadad;
    margin: 0 8px;
}

.vertical-sub-menu {
    float: left;
    overflow: hidden;
    width: 100%;
    border: none;
    outline: none;
   /*  transition: all 0.5s ease 0.3s; Delay the transition for the sub-menu content */
}

.vertical-sub-menu-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    width: 235px;
    z-index: 2;
    left: 100%;
    margin-top: -29px;
    animation: fade 1s ease forwards;
    transition-delay:1s;
}

.vertical-menu .vertical-menu-item:hover {
    background-color: #ccc;
}

.vertical-sub-menu:hover .vertical-sub-menu-content {
    display: block;
    transition-delay:1s;
}

@keyframes fade {
    from {
      opacity: 0;
      transform: translateY(0);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

span{
    display: block;
}

span.head{
    max-width: 25%;
    padding-left: 4px;
}

span.mid{
    min-width: 50%;
    padding: 0 4px;
    color: black; /* Black text color */
    text-align: left;
    font-size: small;
}

span.tail{
    max-width: 25%;
    padding-left: 78px;
}

figure{
    align-items: center;
    display:inline-flex;
    min-width: 18px;
}
  
img{
    height: 18px;
    width: 18px;
    image-rendering:optimizeQuality;
    position: relative;
    margin: 0 0 0 0;
}
  
