.main-desktop{
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; overflow no longer needed since position is now fixed */  
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: blue;
}

.vertical-menu {
    position: absolute;
    width: 250px; /* Set a width if you like */
    box-shadow: 2px 2px rgba(0,0,0,0.3);
    z-index:2;
}
  
span{
    display: block;
}

span.container{
    max-height: 1px;
    background-color: #eee; /* Grey background color */
}

span.section-line{
    border: 1px solid #afadad; /* Add a border to col-md-6 */
    margin: 0 8px;
}

span.container2{
    height: fit-content;
    padding: 4px 0; /* Add some padding */
    background-color: #eee; /* Grey background color */
    display: inline-flex;
    width: 100%;
    z-index:2;
}

span.container2:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

span.container2.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
}

span.container2.sub-menu-container {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 235px;
    z-index: 2;
    left: 100%;
    top: 0;
}


span.container2.sub-menu-container:hover {
    display: block;
    z-index: 2;
}

span.container2.sub-menu{
    color: black;
    padding: 4px 0;
    text-decoration: none;
    display: inline-flex;
}


span.head{
    max-width: 25%;
    padding-left: 4px;
}

span.mid{
    min-width: 50%;
    padding: 0 4px;
    color: black; /* Black text color */
    text-align: left;
    font-size: small;
}

span.tail{
    max-width: 25%;
    padding-left: 78px;
}

figure{
    align-items: center;
    display:inline-flex;
    min-width: 18px;
    min-width: 18px;
}
  
img{
    height: 18px;
    width: 18px;
    image-rendering:optimizeQuality;
    position: relative;
    margin: 0 0 0 0;
}
  
