<cos-window [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.name" (click)="setTaskMangrWindowToFocus(this.processId)"> 
  <span class="navigation">
    <ul class="u-pull-right"> 
      <li  class="btn btn-primary head" title="File" (click)="showDropDownList()" (focusout)="showDropDownList()">
        File
        <ul *ngIf="showDDList">
          <li>Run new task</li>
          <li (click)="onExitBtnClick()">Exit</li>
        </ul>
      </li>
      <li class="btn btn-primary head">
        Options
      </li>
      <li class="btn btn-primary head" (click)="showDropDownList()" (focusout)="showDropDownList()">
        View
        <ul *ngIf="showDDList">
          <li (click)="generateLies()">Refresh now</li>
          <li>Update Speed   >
            <ul>
              <li [style]="{
                listStyle: selectedRefreshRate === 3 ? 'inside' : 'none',
                paddingLeft: selectedRefreshRate === 3 ? '4px' : '24px',
              }" (click)="refreshRate(3)">High</li>
              <li [style]="{
                listStyle: selectedRefreshRate === 2 ? 'inside' : 'none',
                paddingLeft: selectedRefreshRate === 2 ? '4px' : '24px',
              }" (click)="refreshRate(2)">Normal</li>
              <li [style]="{
                listStyle: selectedRefreshRate === 1 ? 'inside' : 'none',
                paddingLeft: selectedRefreshRate === 1 ? '4px' : '24px',
              }" (click)="refreshRate(1)">Low</li>
              <li [style]="{
                listStyle: selectedRefreshRate === 0 ? 'inside' : 'none',
                paddingLeft: selectedRefreshRate === 0 ? '4px' : '24px',
              }" (click)="refreshRate(0)">Paused</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </span>
  <div class="tabbed-window">
    <span style="height:3px; background-color: #ffffff;  border-top: none; "></span>
    <div class="tabs">
      <div class="tab active">Processes</div>
      <div class="tab">Performance</div>
      <div class="tab">App history</div>
      <div class="tab">Services</div>
    </div>
    <div class="tab-content">
      <div class="tab-pane active">
        <div class='card'>
            <div class='card-body'>
              <div class='table-responsive'>
                <table class='table' *ngIf = 'processes.length > 0' #tableId>
                  <thead>
                    <span style="height:10px; border-top: none;"></span>
                    <tr>             
                      <th [style]="thStyle" (click)="sortTable('Name', true)" (contextmenu)="showTableHeaderList($event)" (focusout)="closeHeaderList()">
                        <span style="margin-left:50%; height:50%">
                          <span *ngIf="isDescSorting('Name')">v</span>
                          <span *ngIf="isAscSorting('Name')">ᴧ</span>
                        </span>
                        <span style="padding-left:5px; height:50%; padding-top:5px; font-size:14px;">
                          <span style="width:75%;">
                            Name
                          </span>
                          <span class="vertical-menu" style="width:25%; left:60px;" *ngIf="showHeaderList">
                            <a style="display: inline-flex; width: 100%;" (click)="toggleColumnVisibility('Type')">
                              <span class="checkBox" >
                                <figure  *ngIf = 'typeColumnVisible'  style="align-content: center;"> 
                                  <img style="position:relative; width:13px; height:13px; padding-left: 3px; padding-top:4px;" [src]="'osdrive/icons/chkmark26.png'">
                                </figure> 
                                <input type="checkbox" [checked]="typeColumnVisible">
                              </span>
                              <p style="text-align:left;  padding-left:12px; right:0;">Type</p>
                            </a>
                            <a style="display: inline-flex; width: 100%;" (click)="toggleColumnVisibility('Status')">
                              <span class="checkBox" >
                                <figure  *ngIf = 'statusColumnVisible'  style="align-content: center;"> 
                                  <img style="position:relative; width:13px; height:13px; padding-left: 3px; padding-top:4px;" [src]="'osdrive/icons/chkmark26.png'">
                                </figure> 
                                <input type="checkbox" [checked]="statusColumnVisible">
                              </span>

                              <p style="text-align:left;  padding-left:12px; right:0;">Status</p>
                            </a>
                            <a style="display: inline-flex; width: 100%;" (click)="toggleColumnVisibility('PID')">
                              <span class="checkBox" >
                                <figure  *ngIf = 'pidColumnVisible'  style="align-content: center;"> 
                                  <img style="position:relative; width:13px; height:13px; padding-left: 3px; padding-top:4px;" [src]="'osdrive/icons/chkmark26.png'">
                                </figure> 
                                <input type="checkbox" [checked]="pidColumnVisible">
                              </span>
                              <p style="text-align:left;  padding-left:12px; right:0;">PID</p>
                            </a>
                            <a style="display: inline-flex; width: 100%;" (click)="toggleColumnVisibility('Process name')">
                              <span class="checkBox" >
                                <figure  *ngIf = 'processNameColumnVisible'  style="align-content: center;"> 
                                  <img style="position:relative; width:13px; height:13px; padding-left: 3px; padding-top:4px;" [src]="'osdrive/icons/chkmark26.png'">
                                </figure> 
                                <input type="checkbox" [checked]="processNameColumnVisible">
                              </span>
                              <p style="text-align:left;  padding-left:12px; right:0;">Process name</p>
                            </a>
                            <a style="display: inline-flex; width: 100%;" (click)="toggleColumnVisibility('CPU')">
                              <span class="checkBox" >
                                <figure  *ngIf = 'cpuColumnVisible'  style="align-content: center;"> 
                                  <img style="position:relative; width:13px; height:13px; padding-left: 3px; padding-top:4px;" [src]="'osdrive/icons/chkmark26.png'">
                                </figure> 
                                <input type="checkbox" [checked]="cpuColumnVisible">
                              </span>
                              <p style="text-align:left;  padding-left:12px; right:0;">CPU</p>
                            </a>
                            <a style="display: inline-flex; width: 100%;" (click)="toggleColumnVisibility('Memory')">
                              <span class="checkBox" >
                                <figure  *ngIf = 'memoryColumnVisible'  style="align-content: center;"> 
                                  <img style="position:relative; width:13px; height:13px; padding-left: 3px; padding-top:4px;" [src]="'osdrive/icons/chkmark26.png'">
                                </figure> 
                                <input type="checkbox" [checked]="memoryColumnVisible">
                              </span>
                              <p style="text-align:left;  padding-left:12px; right:0;">Memory</p>
                            </a>
                            <a style="display: inline-flex; width: 100%;" (click)="toggleColumnVisibility('Disk')">
                              <span class="checkBox" >
                                <figure  *ngIf = 'diskColumnVisible'  style="align-content: center;"> 
                                  <img style="position:relative; width:13px; height:13px; padding-left: 3px; padding-top:4px;" [src]="'osdrive/icons/chkmark26.png'">
                                </figure> 
                                <input type="checkbox" [checked]="diskColumnVisible">
                              </span>
                              <p style="text-align:left;  padding-left:12px; right:0;">Disk</p>
                            </a>
                            <a style="display: inline-flex; width: 100%;" (click)="toggleColumnVisibility('Network')">
                              <span class="checkBox" >
                                <figure  *ngIf = 'networkColumnVisible'  style="align-content: center;"> 
                                  <img style="position:relative; width:13px; height:13px; padding-left: 3px; padding-top:4px;" [src]="'osdrive/icons/chkmark26.png'">
                                </figure> 
                                <input type="checkbox" [checked]="networkColumnVisible">
                              </span>
                              <p style="text-align:left;  padding-left:12px; right:0;">Network</p>
                            </a>
                            <a style="display: inline-flex; width: 100%;" (click)="toggleColumnVisibility('GPU')">
                              <span class="checkBox" >
                                <figure  *ngIf = 'gpuColumnVisible'  style="align-content: center;"> 
                                  <img style="position:relative; width:13px; height:13px; padding-left: 3px; padding-top:4px;" [src]="'osdrive/icons/chkmark26.png'">
                                </figure> 
                                <input type="checkbox" [checked]="gpuColumnVisible">
                              </span>
                              <p style="text-align:left;  padding-left:12px; right:0;">GPU</p>
                            </a>
                            <a style="display: inline-flex; width: 100%;" (click)="toggleColumnVisibility('Power usage')">
                              <span class="checkBox" >
                                <figure  *ngIf = 'powerColumnVisible'  style="align-content: center;"> 
                                  <img style="position:relative; width:13px; height:13px; padding-left: 3px; padding-top:4px;" [src]="'osdrive/icons/chkmark26.png'">
                                </figure> 
                                <input type="checkbox" [checked]="powerColumnVisible">
                              </span>
                              <p style="text-align:left;  padding-left:12px; right:0; ">Power usage</p>
                            </a>
                          </span>
                        </span>
                      </th>
                      <th [style]="thStyle1" (click)="sortTable('Type', true)">               
                        <span style="margin-left:50%; height:50%">
                          <span *ngIf="isDescSorting('Type')">v</span>
                          <span *ngIf="isAscSorting('Type')">ᴧ</span>
                        </span>
                        <span style="padding-left:5%; height:50%; padding-top:5px; font-size:14px;">Type</span>
                      </th>
                      <th>
                        <span style="margin-left:50%; height:50%">
                          <span *ngIf="isDescSorting('Status')">v</span>
                          <span *ngIf="isAscSorting('Status')">ᴧ</span>
                        </span>
                        <span style="padding-left:5px; height:50%; padding-top:5px; font-size:14px;">Status</span>
                      </th>
                      <th [style]="thStyle2" (click)="sortTable('PID', true)">               
                        <span style="margin-left:50%; height:50%">
                          <span *ngIf="isDescSorting('PID')">v</span>
                          <span *ngIf="isAscSorting('PID')">ᴧ</span>
                        </span>
                        <span style="padding-left:55%; height:50%; padding-top:5px; font-size:14px; padding-right:5px;">PID</span>
                      </th>
                      <th [style]="thStyle3" (click)="sortTable('Process name', true)">               
                        <span style="margin-left:50%; height:50%">
                          <span *ngIf="isDescSorting('Process name')">v</span>
                          <span *ngIf="isAscSorting('Process name')">ᴧ</span>
                        </span>
                        <span style="height:50%; padding-top:5px; font-size:14px; padding-right:5px; text-overflow: ellipsis;">Process name</span>
                      </th>
                      <th (click)="sortTable('CPU', true)" #cpuId>
                        <span [style]="setUtilHeaderSpan2section1Colors(cpuUtil,'CPU')">
                          <span style="font-size:13px; padding-left:4px; vertical-align:top; width:35%; display:inline-block;">
                            <span *ngIf="isDescSorting('CPU')">v</span>
                            <span *ngIf="isAscSorting('CPU')">ᴧ</span>
                          </span>
                          <span [style]="setUtilHeaderSpan2section2Colors(cpuUtil)">{{cpuUtil}}%</span>
                        </span>
                        <span [style]="setUtilHeaderSpan3Colors(cpuUtil,'CPU')">CPU</span>
                      </th>
                      <th (click)="sortTable('Memory', true)"  #memoryId>
                        <span [style]="setUtilHeaderSpan2section1Colors(memUtil,'Memory')">
                          <span style="font-size:13px; padding-left:4px; vertical-align:top; width:35%; display:inline-block;">
                            <span *ngIf="isDescSorting('Memory')">v</span>
                            <span *ngIf="isAscSorting('Memory')">ᴧ</span>
                          </span>
                          <span [style]="setUtilHeaderSpan2section2Colors(memUtil)">{{memUtil}}%</span>
                        </span>
                        <span [style]="setUtilHeaderSpan3Colors(memUtil,'Memory')">Memory</span>
                      </th>
                      <th (click)="sortTable('Disk', true)" #diskId>                             
                        <span [style]="setUtilHeaderSpan2section1Colors(diskUtil,'Disk')">
                          <span style="font-size:13px; padding-left:4px; vertical-align:top; width:35%; display:inline-block;">
                            <span *ngIf="isDescSorting('Disk')">v</span>
                            <span *ngIf="isAscSorting('Disk')">ᴧ</span>
                          </span>

                          <span [style]="setUtilHeaderSpan2section2Colors(diskUtil)">{{diskUtil}}%</span>
                        </span>
                        <span [style]="setUtilHeaderSpan3Colors(diskUtil,'Disk')">Disk</span>
                      </th>
                      <th (click)="sortTable('Network', true)" #networkId>                                                
                        <span [style]="setUtilHeaderSpan2section1Colors(networkUtil,'Network')">
                          <span style="font-size:13px; padding-left:4px; vertical-align:top; width:35%; display:inline-block;">
                            <span *ngIf="isDescSorting('Network')">v</span>
                            <span *ngIf="isAscSorting('Network')">ᴧ</span>
                          </span>
                          <span [style]="setUtilHeaderSpan2section2Colors(networkUtil)">{{networkUtil}}%</span>
                        </span>
                        <span [style]="setUtilHeaderSpan3Colors(networkUtil,'Network')">Network</span>
                      </th>
                      <th (click)="sortTable('GPU', true)" #gpuId>                                                
                        <span [style]="setUtilHeaderSpan2section1Colors(networkUtil,'Network')">
                          <span style="font-size:13px; padding-left:4px; vertical-align:top; width:35%; display:inline-block;">
                            <span *ngIf="isDescSorting('GPU')">v</span>
                            <span *ngIf="isAscSorting('GPU')">ᴧ</span>
                          </span>
                          <span [style]="setUtilHeaderSpan2section2Colors(gpuUtil)">{{gpuUtil}}%</span>
                        </span>
                        <span [style]="setUtilHeaderSpan3Colors(gpuUtil,'GPU')">GPU</span>
                      </th>
                      <th [style]="thStyle4" (click)="sortTable('Power usage', true)">               
                        <span style="margin-left:50%; height:50%">
                          <span *ngIf="isDescSorting('Power usage')">v</span>
                          <span *ngIf="isAscSorting('Power usage')">ᴧ</span>
                        </span>
                        <span style="height:50%; padding-top:5px; font-size:14px; padding-right:5px; text-overflow: ellipsis;">Power usage</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let process of processes; let i = index'(click)="onProcessSelected(i, process.getProcessId)" [class.active]="i === selectedRow">
                        <td style="width:35%; padding-left:16px;"  >
                            <figure> 
                                <img [src]="process.getIcon">
                                <figcaption>{{ process.getProcessName}}</figcaption>
                            </figure>
                        </td>
                        <td >{{ process.getType}}</td>
                        <td>
                            <figure  *ngIf = 'process.getProcessStatus === "Suspended"' > 
                                <figcaption>{{ process.getProcessStatus}}</figcaption>
                                <img [src]="'osdrive/icons/econo.png'">
                            </figure>
                        </td>
                        <td style="text-align:right">{{ process.getProcessId}}</td>
                        <td >{{ process.getProcessName}}</td>
                        <td [style]="setUtilColoumnColors(process.getCpuUsage)" #cpuId>{{ process.getCpuUsage}}%</td>
                        <td [style]="setUtilColoumnColors(process.getMemoryUsage)" #memoryId>{{ process.getMemoryUsage}} MB</td>
                        <td [style]="setUtilColoumnColors(process.getDiskUsage)" #diskId>{{ process.getDiskUsage}} MB/s</td>
                        <td [style]="setUtilColoumnColors(process.getNetworkUsage)" #networkId>{{ process.getNetworkUsage}} Mbps</td>
                        <td [style]="setUtilColoumnColors(process.getGpuUsage)" #gpuId>{{ process.getCpuUsage}}%</td>
                        <td [style]="setUtilColoumnColors(process.getPowerUsage)" #pwruseId> {{ process.getPowerUsage}}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <span class="basediv">
              <span style="display: inline-block; width: 50%; 
                        padding-top:15px;  height:40px; margin-left: 0;">
                  <figure (click)="onFewerDetailsBtnClick()"  style="padding-right: 72%;"> 
                    <img [src]="'osdrive/icons/arrow_up.png'">
                    <figcaption class="just-for-one-span">Fewer details</figcaption>
                  </figure>
              </span>
              <span style="display: inline-block; height:40px; margin-top:10px; width:50%; margin-right: 0;">
                  <button (click)="onEndTaskBtnClick()" class="btn btn-primary" style="margin-left: 72%;" [ngClass]="activeFocus()">
                    End task
                  </button>
              </span>
          </span>
        </div>
      </div>
      <div class="tab-pane">
        <!-- Content for Tab 2 -->
        <p> Somethings is coming</p>
      </div>
      <div class="tab-pane">
        <!-- Content for Tab 3 -->
        <p> Somethings is coming</p>
      </div>
      <div class="tab-pane">
        <!-- Content for Tab 4 -->
        <p> Somethings is coming</p>
      </div>
    </div>
  </div>   
</cos-window>