/* Custom styles for the card */
.card {
  /* min-width: 150px; Set the width of the card */
  /* min-height: 150px; Set the height of the card */

  border: 1px solid #ccc; /* Add a border to the card */
  /* border-radius: 0;  Add rounded corners to the card */
  overflow-x:hidden;
  overflow-y: hidden;
}
  
/* Custom styles for the card-body */
.card-body {
  padding: 0; /* Add padding inside the card body */
  background-color: #ffffff; /* Set the background color */
  color: #000; /* Set the text color */
  border-top: none; /*Add a top border to separate from the card header */
}

/* Additional styles for links inside the card-body (optional) */
.card-body a {
  text-decoration: none; /* Remove underlines from links */
 /*  color: #007BFF; Set link color */
}

/* Hover effect for links (optional) */
.card-body a:hover {
  text-decoration: underline; /* Add underline on hover */
}


/* Custom styles for rows */
.row {
  margin: 10px 0px; /* Add margin above and below the row */
  min-height: 10px;
  min-width: 10px;
}

/* Custom styles for columns */
.col {
  padding: 10px; /* Add padding inside columns */
  background-color: #ffffff; /* Set a background color for columns */
  border: 1px solid #cccccc; /* Add a border to columns */
  /* border-radius: 1px; Add rounded corners to columns */
  color: #000; /* Set text color for columns */
}

/* Additional styles for links inside columns (optional) */
.col a {
  text-decoration: none; /* Remove underlines from links */
  color: #007BFF; /* Set link color */
}

/* Hover effect for links (optional) */
.col a:hover {
  text-decoration: underline; /* Add underline on hover */
}


/* Custom styles for col-md-2 */
.col-md-2 {
  background-color: #ffffff; /* Set a background color for col-md-2 */
  padding: 10px; /* Add padding inside col-md-2 */
  border: 1px solid #ccc; /* Add a border to col-md-2 */
  /* border-radius: 0;  Add rounded corners to col-md-2 */
  color: #000; /* Set text color for col-md-2 */
  min-width: 25px;
  /* max-width: 100px; */
}

/* Custom styles for col-md-4 */
.col-md-4 {
  background-color: #ffffff; /* Set a background color for col-md-4 */
  padding: 10px; /* Add padding inside col-md-4 */
  border: 1px solid #ccc; /* Add a border to col-md-4 */
  /* border-radius: 0; Add rounded corners to col-md-4 */
  color: #000; /* Set text color for col-md-4 */
  min-width: 25px;
  /* max-width: 200px; */
}

/* Custom styles for col-md-6 */
.col-md-6 {
  background-color: #ffffff; /* Set a background color for col-md-6 */
  padding: 10px; /* Add padding inside col-md-6 */
  border: 1px solid #ccc; /* Add a border to col-md-6 */
  /* border-radius: 0; Add rounded corners to col-md-6 */
  color: #000; /* Set text color for col-md-6 */
  min-width: 25px;
  /* max-width: 300px; */
}



/* Custom styles for .table-responsive (Optional) */
.table-responsive {
  width: 100%; /* Set a maximum width for the responsive container */
  overflow: auto; /* Enable horizontal scrolling when needed */
  border-top:  none;
}

/* Custom styles for the table */
.table {
  border-collapse: collapse; /* Remove spacing between table cells */
  min-width: 40%; /* Set the table width to 100% of its container */
  margin: 1px 0; /* Add margin above and below the table */
  font-family: Arial, sans-serif; /* Set the font family for the table */
  table-layout: auto;
}

  /* Custom styles for table headers */
.table th {
  background-color: #ffffff; /* Header background color */
  color: #333; /* Header text color */
  padding: 0; /* Header cell padding */
  text-align: left; /* Header text alignment */
  font-weight:lighter;  /* Header text bold */
  font-size: 13px;
  height: 55px;
  min-width: 90px;
  border: 1px solid #ccc;   /* Cell border */
  border-top: none;
  vertical-align: middle;
}

.table th:first-child th:last-child{
  border-left: 0;
  border-right: 0;
}

span {
  display: block; /* Ensures each span is on a new line */
}

tbody{
  border-left: 0;
  border-right: 0;
}
  
/* Custom styles for table rows */
.table tr {
  background-color: #ffffff; /* Row background color */
}
  
/* Alternate row background color (zebra-striping) */
.table tr:nth-child(even) {
  background-color: #ffffff; 
}
  
/* Custom styles for table cells */
.table td {
  padding: 5px; /* Cell padding */
  font-weight:lighter; 
  min-width: 75px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 13px;
  text-align: left; /* Header text alignment */
  border: 1px solid #ccc; /* Cell border  #1a127b*/
  border-top:none; border-bottom:none;
}

.table td:first-child td:last-child{
  border-left: 0;
  border-right: 0;
}

/* Add hover effect to table rows (optional) */
.table tr:hover {
  background-color: #e8f4fc;
}
  
  

figure{
  align-items: center;
  display:inline-flex;
  min-width: 1px;
}

figcaption{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


img{
    height: 18px;
    width: 18px;
    image-rendering:optimizeQuality;
    position: relative;
    margin: 0 4px 0 0;
}


/* Styles for the tabbed window container */
.tabbed-window {
    min-width: 150px; /* Adjust the width as needed */
    border: 1px solid #ccc; /**/
    /* border-radius: 5px;
    overflow: scroll;  */
}

.tabbed-window:first-child .tabbed-window:last-child {
  border-left: 0;
  border-right: 0;
}
  
/* Styles for the tab navigation */
.tabs {
  display: flex;
  background-color: #ffffff;
  color: #000;
  border-bottom: none;
}

.tab {
  flex: 1;
  padding: 2px 5px;
  background-color: #f2f2f2; /*e3e0e0*/
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: normal;
  font-size: 13px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  max-width: fit-content;
  max-height: fit-content;
}

.tab.active {
  background-color: #ffffff; /*f2f2f2*/
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #ccc;
  color: #000;
}

/* Styles for tab content */
.tab-content {
  padding: 0;
  border-top: none; 
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.just-for-one-span{
  color: #000; 
  font-weight: normal;
}

.just-for-one-span::first-letter{
  text-decoration: underline;
}

.basediv{
  display:block;
  font-size: small;
  font-weight: lighter;
  border-top: 1px solid #ccc; /* Cell border */
  background-color: #ffffff;
}

.btn.btn-primary.head {
  background-color: #ffffff; /* Primary button background color */
  color: #333; /* Text color for the primary button */
  border: 1px solid #ffffff; /* Border color for the primary button */
  /* border-radius: 1px;  Rounded corners for the primary button */
  padding: 1px 10px; /* Padding for the primary button (adjust as needed) */
  font-size: 13px; /* Font size for the text */
}

  /* Custom styles for .btn.btn-primary */
.btn.btn-primary {
  background-color: #d0cccc; /* Primary button background color */
  color: #75787c; /* Text color for the primary button */
  border: 1px solid #bcbcbc; /* Border color for the primary button */
  /* border-radius: 1px; Rounded corners for the primary button */
  padding: 5px 25px; /* Padding for the primary button (adjust as needed) */
  font-size: 12px; /* Font size for the text */
  font-weight: normal;
}

.btn.btn-primary::first-letter{
  text-decoration: underline;
}

/* Hover state for the primary button */
.btn.btn-primary:hover {
  background-color: #84b3e4; /* Background color when hovered */
  border: 1px solid #0056b3; /* Border color when hovered */
  color: #000; /* Text color when hovered */
}

/* Active (clicked) state for the primary button */
.btn.btn-primary.active, .btn.btn-primary.focus {
  background-color: #e4e4e1; /* Background color when active or focused */
  border: 1px solid #ccc; /* Border color when active or focused */
  color: #000; /* Text color when active or focused */
}

/* Active (clicked) state for the primary button */
.btn.btn-primary.head:active, .btn.btn-primary.head:focus {
  background-color: #0056b3; /* Background color when active or focused */
  border: 1px solid #0056b3; /* Border color when active or focused */
  color: #fff; /* Text color when active or focused */
}


.navigation {
  /* border: 1px solid black;  */
  background-color: #ffffff;
  display:flex; 
  position:relative;
}
.navigation a {
  text-decoration: none;
}
.navigation a:hover {
  text-decoration: none;
}
.navigation ul {
  list-style: none;
  display: inline-flex;
  margin: 0px 0px 0px 0px;
}

.u-pull-right li:last-child {
  padding: 1px 5px 
}

.navigation ul li {
  display: inline-flex;
  padding: 1px 5px;
  height: 20px;
}
.navigation ul li:first-child {
  padding-left: 5px;
}

.navigation ul li.active {
  font-weight: bold;
}

.navigation ul ul {
  display: none;
}
 
.navigation ul li:hover > ul {
  display: inline-block;
  position: absolute;
  color: #000;
  margin-left: -8px;
  margin-top: 19px;
  box-shadow: 1px 2px rgba(0,0,0,0.5);
}

.navigation ul ul li {
  float: none;
  display: list-item;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  text-align: left;
  background-color: #f2f2f2;
  min-width: 100px;
  min-height: 25px;
}

li:hover {
  color: #000;
  background-color: #98ccf4 !important;
}


.table tr.active td {
  background-color:#d0ecfc !important;
}


.vertical-menu {
  width: 100px; /* Set a width if you like */
  position: absolute;
  z-index:5;
  box-shadow: 2px 2px rgba(0,0,0,0.3);
}

.vertical-menu a {
  background-color: #f2f2f2; /* Grey background color */
  color: #000; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 6px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  z-index:5;
}

.vertical-menu a:hover {
  background-color: #98ccf4; /* Dark grey background on mouse-over */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a.active {
  background-color: #e8f4fc; /* Add a green color to the "active/current" link */
  color: #000;
}

input[type=checkbox] {
  visibility: hidden;
}

.checkBox {
  width: 19px;
  height: 19px;
  background-color: #98ccf4;
}