<cos-window [runningProcessID]="this.processId" [processAppIcon]="this.icon" [processAppName]="this.name" (click)="setTaskMangrWindowToFocus(this.processId)"> 
    
    <div class="tabbed-window">
        <div class="tabs">
          <div class="tab active">Processes</div>
          <div class="tab">Performance</div>
          <div class="tab">App history</div>
        </div>
        <div class="tab-content">
          <div class="tab-pane active">
            <div class='card'>
                <div class='card-body'>
                  <div class='table-responsive'>
                    <table class='table' *ngIf = 'processes.length > 0' >
                      <thead>
                        <span style="height:10px; "></span>
                        <tr>             
                          <th [style]="thStyle" (click)="sortTable('Name', true)">
                            <span style="margin-left:50%; height:50%">
                              <span *ngIf="isDescSorting('Name')">v</span>
                              <span *ngIf="isAscSorting('Name')">ᴧ</span>
                            </span>
                            <span style="padding-left:5px; height:50%; padding-top:5px; font-size:14px;">Name</span>
                          </th>
                          <th>
                            <span style="margin-left:50%; height:50%">
                              <span *ngIf="isDescSorting('Status')">v</span>
                              <span *ngIf="isAscSorting('Status')">ᴧ</span>
                            </span>
                            <span style="padding-left:5px; height:50%; padding-top:5px; font-size:14px;">Status</span>
                          </th>
                          <th (click)="sortTable('CPU', true)" #cpuId>
                            <span [style]="setUtilHeaderSpan2section1Colors(cpuUtil,'CPU')">
                              <span style="font-size:13px; padding-left:4px; vertical-align:top; width:35%; display:inline-block;">
                                <span *ngIf="isDescSorting('CPU')">v</span>
                                <span *ngIf="isAscSorting('CPU')">ᴧ</span>
                              </span>
                              <span [style]="setUtilHeaderSpan2section2Colors(cpuUtil)">{{cpuUtil}}%</span>
                            </span>
                            <span [style]="setUtilHeaderSpan3Colors(cpuUtil,'CPU')">CPU</span>
                          </th>
                          <th (click)="sortTable('Memory', true)" #memoryId>
                            <span [style]="setUtilHeaderSpan2section1Colors(memUtil,'Memory')">
                              <span style="font-size:13px; padding-left:4px; vertical-align:top; width:35%; display:inline-block;">
                                <span *ngIf="isDescSorting('Memory')">v</span>
                                <span *ngIf="isAscSorting('Memory')">ᴧ</span>
                              </span>
                              <span [style]="setUtilHeaderSpan2section2Colors(memUtil)">{{memUtil}}%</span>
                            </span>
                            <span [style]="setUtilHeaderSpan3Colors(memUtil,'Memory')">Memory</span>
                          </th>
                          <th (click)="sortTable('Disk', true)" #diskId>                             
                            <span [style]="setUtilHeaderSpan2section1Colors(diskUtil,'Disk')">
                              <span style="font-size:13px; padding-left:4px; vertical-align:top; width:35%; display:inline-block;">
                                <span *ngIf="isDescSorting('Disk')">v</span>
                                <span *ngIf="isAscSorting('Disk')">ᴧ</span>
                              </span>

                              <span [style]="setUtilHeaderSpan2section2Colors(diskUtil)">{{diskUtil}}%</span>
                            </span>
                            <span [style]="setUtilHeaderSpan3Colors(diskUtil,'Disk')">Disk</span>
                          </th>
                          <th (click)="sortTable('Network', true)" #networkId>                                                
                            <span [style]="setUtilHeaderSpan2section1Colors(networkUtil,'Network')">
                              <span style="font-size:13px; padding-left:4px; vertical-align:top; width:35%; display:inline-block;">
                                <span *ngIf="isDescSorting('Network')">v</span>
                                <span *ngIf="isAscSorting('Network')">ᴧ</span>
                              </span>
                              <span [style]="setUtilHeaderSpan2section2Colors(networkUtil)">{{networkUtil}}%</span>
                            </span>
                            <span [style]="setUtilHeaderSpan3Colors(networkUtil,'Network')">Network</span>
                          </th>
                          <th [style]="thStyle1" (click)="sortTable('PID', true)">               
                            <span style="margin-left:50%; height:50%">
                              <span *ngIf="isDescSorting('PID')">v</span>
                              <span *ngIf="isAscSorting('PID')">ᴧ</span>
                            </span>
                            <span style="padding-left:55%; height:50%; padding-top:5px; font-size:14px; padding-right:5px;">PID</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor='let process of processes'>
                            <td>
                                <figure> 
                                    <img [src]="process.getIcon">
                                    <figcaption>{{ process.getProcessName}}</figcaption>
                                </figure>
                            </td>
                            <td>{{ process.getStatus}}</td>
                            <td [style]="setUtilColoumnColors(process.getCpuUsage)" #cpuId>{{ process.getCpuUsage}}%</td>
                            <td [style]="setUtilColoumnColors(process.getMemoryUsage)" #memoryId>{{ process.getMemoryUsage}} MB</td>
                            <td [style]="setUtilColoumnColors(process.getDiskUsage)" #diskId>{{ process.getDiskUsage}} MB/s</td>
                            <td [style]="setUtilColoumnColors(process.getNetworkUsage)" #networkId>{{ process.getNetworkUsage}} Mbps</td>
                            <td style="text-align:right">{{ process.getProcessId}}</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <span class="basediv">
                    <span style="display: inline-block; width: 50%; 
                            padding-top:15px;  height:50px; margin-left: 0;">
                      <figure style="padding-right: 65%;"> 
                        <img [src]="'osdrive/icons/arrow_up.png'">
                        <figcaption>Fewer details</figcaption>
                      </figure>
                  </span>
                  <span style="display: inline-block; height:50px; margin-top:10px; width:50%; margin-right: 0;">
                      <button class="btn btn-primary" style="margin-left: 65%;" >
                        End task
                      </button>
                  </span>
              </span>
            </div>
          </div>
          <div class="tab-pane">
            <!-- Content for Tab 2 -->
            <p> Somethings is coming</p>
          </div>
          <div class="tab-pane">
            <!-- Content for Tab 3 -->
            <p> Somethings is coming</p>
          </div>
        </div>
      </div>   
</cos-window>