<ng-container [ngTemplateOutlet]="menuOption === fileExplrMngrMenuOption ? fileExplrMngrMenu : tskBarMenu ">
</ng-container>

<ng-template #fileExplrMngrMenu>
  <div class="dm-vertical-menu">
    <div class="dm-empty-line-container"></div>

    <div lass="dm-vertical-menu-cntnr" *ngFor="let menuItem of menuItems; let i = index">
        <div class="dm-vertical-menu-item"  (click)="onMenuItemClick(menuItem.action)">
            <span class="span dm-head"> <figure class="dm-fig-cntxt-menu"> </figure></span>
            <span class="span dm-mid">{{menuItem.label}}</span>
            <span class="span dm-tail"> <figure class="dm-fig-cntxt-menu"> </figure> </span>
        </div>

        <div class="dm-empty-line-container" *ngIf="i === 2"></div>
        <div class="dm-line-container" *ngIf="i  === 2"><div class="dm-line"></div></div>
        <div class="dm-empty-line-container" *ngIf="i === 2"></div>
    </div>

    <div class="dm-empty-line-container"></div>
</div>
</ng-template>

<ng-template #tskBarMenu>
  <div class="dm-vertical-menu">
    <div class="dm-empty-line-container"></div>
  
    <div lass="dm-vertical-menu-cntnr" *ngFor="let menuItem of menuItems; let i = index">
        <div class="dm-vertical-menu-item"  (click)="onMenuItemClick(menuItem.action)">
            <div class="span dm-tskbar-head"> <figure class="dm-tskbar-fig-cntxt-menu"><img *ngIf="menuItem.icon.length > 0" class="dm-tskbar-img-alt" [src]="menuItem.icon"/></figure></div>
            <div class="span dm-tskbar-mid">{{menuItem.label}}</div>
            <div class="span dm-tskbar-tail"> <figure class="dm-tskbar-fig-cntxt-menu"> </figure> </div>
        </div>
    </div>
  
    <div class="dm-empty-line-container"></div>
  </div>
  
</ng-template>





<!-- i want to use this to convert the desktop menu  -->
<!-- <div *ngFor="let category of getKeys(menuDictionary)">
    <h3>{{ category }}</h3>
    <ul>
      <li *ngFor="let item of menuDictionary[category]" (click)="onMenuItemClick(item.action)">
        {{ item.name }}
      </li>
    </ul>
</div>
   -->