
.dm-vertical-menu {
    position: absolute;
    width: 205px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #9c9898;
    z-index: 2;
}


.dm-vertical-menu-item-cntnr{
    width: 100%;
}

.dm-vertical-menu-item {
    height: fit-content;
    padding: 2px 0;
    background-color: #2b2b2b;
    display: inline-flex;
    width: 100%;
    z-index: 2;
   /*  transition: background-color 0.3s ease; Add a transition for background-color */
}

.dm-vertical-menu .dm-vertical-menu-item:hover {
    background-color: #484444;
}

.dm-line-container {
    max-height: 1px;
    background-color: #2b2b2b;
}

.dm-line {
    border: 1px solid #9c9898;
    margin: 0 8px;
}

.dm-empty-line-container {
    max-height: 3px;
    min-height: 3px;
    background-color: #2b2b2b;
}

span{
    display: block;
}

span.dm-head{
    /* max-width: 25%; */
    padding-left: 4px;
}

span.dm-mid{
    /* min-width: 50%; */
    padding: 0 4px;
    color: white; /* Black text color */
    text-align: left;
    font-size: 11px;
    font-weight: normal;
}

span.dm-tail{
    /* max-width: 25%; */
    padding-left: 78px;
}

.dm-fig-cntxt-menu{
    position: relative;
    align-items: center;
    display: inline-flex;
    min-width: 18px;
    top: 0;
    left: 15%;
}


.dm-img-alt{
    height: 16px;
    width: 16px;
    image-rendering:optimizeQuality;
    position: relative;
}

.dm-figure-alt{
    /* position: relative;
    align-items: center;
    display: inline-flex;
    min-width: 18px;
    top: 0;
    left: 15%; */

    align-items: center;
    display:inline-flex;
    min-width: 18px;
}



.dm-tskbar-head{
    max-width: 27%;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.dm-tskbar-mid{
    min-width: 48%;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white; /* Black text color */
    text-align: left;
    font-size: 11px;
    font-weight: normal;
}

.dm-p{
    position: relative;
    top: 10%;
}

.dm-tskbar-tail{
    max-width: 25%;
    padding-left: 48px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.dm-tskbar-fig-cntxt-menu{
    position: relative;
    align-items: center;
    display: inline-flex;
    min-width: 18px;
    top: 0;
    left: 15%;
}


.dm-tskbar-img-alt{
    height: 18px;
    width: 18px;
    image-rendering:optimizeQuality;
    position: relative;
}